@font-face { font-family: 'JSDongkang-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'JSDongkang-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-BoldA1.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    background-color: #FFFFFF;
}

.ment{
    text-align: center;
    color: #131313;
    font-family: 'JSDongkang-Regular';
    margin-top: 20px;
}

.instagram_gallery{
    /* 피드 전체 레이아웃 */
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);

}
strong{
    display: block;
    font-size: 2.2rem;
    font-family: 'JSDongkang-Bold';
    padding: 10px;
}
span{
    font-size: 1.8rem;
    font-family: 'NanumSquareRound';
    padding: 10px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-bottom: 0px;
}
.instagram_gallery > a {
/* 피드 개별 이미지 하이퍼링크 */
}
.instagram_gallery img {
/* 피드 개별 이미지 크기 및 속성 */
    width: 100%;
}

@media only screen and (min-width: 1025px){
    strong{
        font-size: 1.5rem;
    }
    .instagram_gallery{
        width: 30%;
        height: 530px;
        margin: 1rem 20px;
        float: left;
    }
    span{
        font-size: 1.3rem;
    }
}