@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal,bold; font-style: normal; }

body{
    background-color: #E29B78;
}
.ranking{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    font-family: 'YiSunShinDotumM'
}
@media only screen and (min-width: 1025px){
    .ranking{
        padding-top: 20px;
        height: 500px;
    }
}
.ment{
    text-align: center;
    color: white;
    font-family: 'BBTreeGL';
    font-weight: 500;
}
.square{
    float: left;
    width: 10px;
    height: 60px;
    background-color: #615136;
}
.back-square{
    background-color: rgb(255, 251, 248);
    width: 95%;
    height: 1350px;
    border-radius: 4rem;
    margin: 30px auto;
    padding: 30px 0;
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
}
.middle-ment{
    color: #15251d;
    text-align: center;
    font-size: 50px;    
}
h3{
    font-family: 'BBTreeGL';
    font-size:25px;
    color: gray;
}
@media only screen and (min-width: 1025px){
    .ment{
        font-size: 2em;
        margin-bottom: 0;
    }
    p.ment{
        font-size: 1em;
        color: gray;
    }
    .back-square{
        height: 130%;
        margin: 10px auto;
        padding:10px 0;
    }
    .middle-ment{
        font-size: 35px;
    }
    h3{
        font-size: 25px;
    }
}
.rankmember{
    margin: 40px 0;
    font-size: 40px;
    align-content: center;
    align-items: center;
}
.rankerimg{
    width: 180px;
    height:180px;
    border-radius: 100%;
    border: 5px solid #569377;
}
.toprankerimg{
    width: 250px;
    height:250px;
    border-radius: 100%;
    border: 7px solid #F2C60C;
}
@media only screen and (min-width: 1025px){
    .rankmember{
        margin: 0px 70px;
        font-size: 20px;
    }
    .rankerimg{
        width: 25%;
        height: 25%;
        border-width: 3px;
    }
    .toprankerimg{
        width: 35%;
        height: 35%;
        border-width: 5px;
    }
}