@font-face { font-family: 'MapoPeacefull'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'JSDongkang-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }


a:visited { color: white; text-decoration: none;}
a:hover { color: white; text-decoration: none;}


input.search-box{
    width: 640px;  
    height: 90px;
    margin-right: 25px; 
    margin-top: 15px;
    padding: 0 10px;
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
    position: relative;
    font-size: 40px;
    font-family: 'JSDongkang-Regular';
    margin-bottom: 15px;
}

.ment{
    width: fit-content;
    margin: 5px auto;
    font-size: 1.8rem;
    font-family: 'MapoPeacefull'; 
}
.sbox, .sbox-pc{
    float: right;
}

form.search-act-pc{
    display: inline;
}

input.search-box:not(:placeholder-shown) + span {
    color: #EBDDCA;
    transform: translateY(-26px) scale(0.75);
}
input.search-box:focus {
    background: none;
    outline: none;
}
input.search-box:focus + span {
    color: #569377;
    transform: translateY(-26px) scale(0.75);
}

.search-mark{
    height: 70px;
    position: absolute;
    top: 183px;
    left: 830px;
}

.seeall{
    width: 80px;
    height: 80px;
    background: #569377;
    border: 2px solid #569377;
    border-radius: 100px;
    text-align: center;
    color: white;
    line-height: 80px;
    display: block;
    font-family: 'JSDongkang-Regular';
    position: absolute;
    z-index: 2;
    margin: 15px 0px 0px 15px;
    cursor: pointer;
}
.seeall a{
    font-size: 27px;
    z-index: 2;
    color: white;
}
.seeall:visited, .seeall:hover{
    background-color: white; color: #569377;
}
.seetheme{
    width: 80px;
    height: 80px;
    background: #E29B78;
    border: 2px solid #E29B78;
    border-radius: 100px;
    text-align: center;
    line-height: 80px;
    display: block;
    font-family: 'JSDongkang-Regular';
    position: absolute;
    z-index: 3;
    margin: 105px 0px 0px 15px;
    cursor: pointer;
}
.seetheme a{
    font-size: 27px;
    z-index: 3;
    color: white;
}

.seetheme:visited, .seetheme:hover{
    background-color: white; color: #E29B78;
}

.map{
    width:100%;
    height:900px;
    position:relative;
    z-index:0;
    margin-bottom: 10px;
}
/* .btn-container{
    position: absolute;
    top:290px;
    left:30px;
} */
.list{
    overflow:auto;
    width: 100%;
    height: 600px;
    font-family: 'JSDongkang-Regular';
    padding-left: 40px;
    padding-right: 40px;
}
.list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
table {
    border-top: 1px solid #272727;
    border-collapse: collapse;
    font-size: 25px;
    table-layout: fixed;
    word-break: break-all;
}
.table-seemore{
    width: 20%;
}
.table-sname{
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-addr{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table tr{
    text-align: center;
    /* font-size: 30px; */
    color: #000000;
}
.table td {
    border-top: 1px solid #615136;
    border-bottom: 1px solid #615136;
    padding: 10px;
    vertical-align: middle;
}
.table thead th{
    border-bottom: 2px solid #615136;
    /* border-top: 2px solid #615136; */
}

.sub-btn{
    font-family: 'JSDongkang-Regular';
    background-color: white;
    border: 2px solid #569377;
    color:#569377;
    border-radius: 100px;
    padding: 7px;
    cursor: pointer;
}
.sub-btn:visited, .sub-btn:hover{
    color: white;
    background-color: #569377;
    text-decoration: none;
}

.label{
    font-family: 'JSDongkang-Regular';
    font-size: 27px;
    margin-left: 10px;
    margin-right: 5px;
  }
.smallinfo{
    white-space:nowrap;
    width: 450px;
    height: 160px;
    font-family: 'JSDongkang-Regular';
    font-size: 27px;
    text-align: center;
    color: #000000;
    line-height: 180%;
}
.title{
    font-size: 40px;
    color: black;
}
.det-btn{
    font-family: 'JSDongkang-Regular';
    background-color: #569377;
    border: 2px solid #569377;
    color:white;
    border-radius: 100px;
    padding: 8px;
    margin-top: 15px;
    cursor: pointer;
}
.det-btn:visited, .det-btn:hover{
	color: #569377; 
	background-color: white; 
    text-decoration: none;
}

.rbtn{
    float: left;
    margin-left: 10px;
    margin-top: 40px;
}
.rbtn input[type='radio'] {
    margin-top: -3px;
    vertical-align: middle;
    -webkit-appearance:none;
    width:30px;
    height:30px;
    border:1px solid #569377;
    border-radius:50%;
    outline:none;
    background: white;
}
.rbtn input[type='radio']:before {
    content:'';
    display:block;
    width:70%;
    height:70%;
    margin: 15% auto;  
    border-radius:50%;  
}
.rbtn input[type='radio']:checked:before {
    background:#569377;
}

/* 검색창 pc버전 */
.search-box-pc{
    height: 40px;
    border: none;
    box-shadow: 4px 4px 8px lightgrey;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'JSDongkang-Regular';
    width: 200px;
    right: 20px;
}

.search-mark-pc{
    width: 80px;
}

input.search-box-pc:not(:placeholder-shown) + span {
    color: #EBDDCA;
    transform: translateY(-26px) scale(0.75);
}
input.search-box-pc:focus {
    background: none;
    outline: none;
}
input.search-box-pc:focus + span {
    color: #615136;
    transform: translateY(-26px) scale(0.75);
}
.topbar-pc{
    height: 5%;
    margin: 10px;
}
.pc-ment{
    font-size: 1.5rem;
    display: inline-block;
    font-family: 'JSDongkang-Regular';
}
.fa-lightbulb{
    color: rgb(254,197,14);
}
/* 라디오버튼 PC버전 */
.rbtn-pc{
    display: inline-block;
    margin-top: 10px;
    margin-left: 290px;
    /* z-index: -1; */
    position: absolute;
    left: 30%;
}
.rbtn-pc input[type='radio'] {
    margin-top: -1px;
    vertical-align: middle;
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid #569377;
    border-radius:50%;
    outline:none;
    background: white;
}
.rbtn-pc input[type='radio']:before {
    content:'';
    display:block;
    width:70%;
    height:70%;
    margin: 15% auto;  
    border-radius:50%;  
}
.rbtn-pc input[type='radio']:checked:before {
    background:#569377;
}
.label-pc{
    font-family: 'JSDongkang-Regular';
    font-size: 15px;
    margin: 0px 5px;
}


@media only screen and (min-width: 1025px){
    .realmap{
        padding: 0px 100px;
        position: relative;
        height: 550px;
    }
    .map-container{
        display: inline;
        min-width: 100%;
    }
    .map{
        display: inline;
        float: left;
        width: 50%;
        height: 90%;
    }
    .list{
        display: inline;
        float: left;
        width: 50%;
        height: 88%;
        padding-left: 10px;
        padding-right: 0px;
    }
    .table{
        font-size: 1rem;
    }
    
    .seeall, .seetheme{
        width: 60px;
        height: 60px;   
        line-height: 60px;     
    }
    .seeall a, .seetheme a{
        font-size: 20px;
        cursor: pointer;
    }
    .seetheme{
        margin-top: 85px;
    }
    .smallinfo{
        white-space:nowrap;
        width: 300px;
        height: 100px;
        font-family: 'JSDongkang-Regular';
        font-size: 15px;
        text-align: center;
        color: #615136;
        line-height: 200%;
    }
    .title{
        font-size: 20px;
        color: black;
    }
    .det-btn{
        margin-top: 40px;
    }
    .line-content:hover{
        background-color: rgb(254,234,168);
    }
    .table tr{
        font-size: 0.8rem;
    }
}
.source{
    position:absolute; bottom:0px;
    font-family: 'JSDongkang-Regular';
}