@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }


a:link { color:white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: white; text-decoration: none;}


input.search-box{
    width: 650px;  
    height: 90px;
    margin-right: 25px; 
    margin-top: 15px;
    padding: 0 10px;
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
    position: relative;
    font-size: 40px;
    font-family: 'BBTreeGL';
    margin-bottom: 15px;
}

.sbox, .sbox-pc{
    float: right;
}
.sbox-pc{
    margin-bottom: 20px;
    margin-right: 1%;
}
form.search-act-pc{
    display: inline;
}

input.search-box:not(:placeholder-shown) + span {
    color: #EBDDCA;
    transform: translateY(-26px) scale(0.75);
}
input.search-box:focus {
    background: none;
    outline: none;
}
input.search-box:focus + span {
    color: #569377;
    transform: translateY(-26px) scale(0.75);
}

.search-mark{
    height: 70px;
    position: absolute;
    top: 140px;
    left: 830px;
}

.seeall{
    width: 80px;
    height: 80px;
    background: #569377;
    border-radius: 100px;
    text-align: center;
    color: white;
    line-height: 80px;
    display: block;
    font-family: 'BBTreeGL';
    position: absolute;
    z-index: 2;
    margin: 15px 0px 0px 15px;
}
.seeall a{
    font-size: 27px;
    z-index: 2;
}
/* 모든 a태그 다 흰색으로 걸어줄거임
.seeall a:link, .seetheme a:link { color:white; text-decoration: none;}
.seeall a:visited, .seetheme a:visited { color: white; text-decoration: none;}
.seeall a:hover, .seetheme a:hover { color: white; text-decoration: none;}
*/
/* href 없는 a태그 설정*/
a:not([href]):not([tabindex]){
    color: white;
}
.seetheme{
    width: 80px;
    height: 80px;
    background: #E29B78;
    border-radius: 100px;
    text-align: center;
    line-height: 80px;
    display: block;
    font-family: 'BBTreeGL';
    position: absolute;
    z-index: 3;
    margin: 105px 0px 0px 15px;
}
.seetheme a{
    color: white;
    font-size: 27px;
    z-index: 3;
}

.map{
    width:100%;
    height:900px;
    position:relative;
    z-index:0;
    margin-bottom: 10px;
}
/* .btn-container{
    position: absolute;
    top:290px;
    left:30px;
} */
.list{
    overflow:auto;
    width: 100%;
    height: 600px;
    font-family: 'NanumSquareRound';
    padding-left: 40px;
    padding-right: 40px;
}
table {
    border-top: 1px solid #272727;
    border-collapse: collapse;
    font-size: 25px;
    table-layout: fixed;
    word-break: break-all;
}
.table-seemore{
    width: 20%;
}
.table-sname{
    width: 30%;
}
.table tr{
    text-align: center;
    /* font-size: 30px; */
    color: #000000;
}

.table td {
    border-top: 1px solid #615136;
    border-bottom: 1px solid #615136;
    padding: 10px;
    vertical-align: middle;
}
.table thead th{
    border-bottom: 2px solid #615136;
    /* border-top: 2px solid #615136; */
}

.sub-btn{
    font-family: 'BBTreeGL';
    background-color: #569377;
    border: 0px;
    color:white;
    border-radius: 100px;
    padding: 7px;
}

.label{
    font-family: 'BBTreeGL';
    font-size: 27px;
    margin-left: 10px;
    margin-right: 5px;
  }
.smallinfo{
    white-space:nowrap;
    width: 450px;
    height: 160px;
    font-family: 'BBTreeGL';
    font-size: 27px;
    text-align: center;
    color: #000000;
}
.title{
    font-size: 40px;
    color: black;
}
.det-btn{
    font-family: 'BBTreeGL';
    background-color: #569377;
    border: 0px;
    color:white;
    border-radius: 100px;
    padding: 8px;
    margin-top: 15px;
}

.rbtn{
    float: left;
    margin-left: 10px;
    margin-top: 40px;
}
.rbtn input[type='radio'] {
    margin-top: -3px;
    vertical-align: middle;
    -webkit-appearance:none;
    width:30px;
    height:30px;
    border:1px solid #569377;
    border-radius:50%;
    outline:none;
    background: white;
}
.rbtn input[type='radio']:before {
    content:'';
    display:block;
    width:70%;
    height:70%;
    margin: 15% auto;  
    border-radius:50%;  
}
.rbtn input[type='radio']:checked:before {
    background:#569377;
}

/* 검색창 pc버전 */
.search-box-pc{
    height: 40px;
    border: none;
    box-shadow: 4px 4px 8px lightgrey;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'BBTreeGL';
    width: 400px;
    right: 20px;
}

.search-mark-pc{
    width: 80px;
}

input.search-box-pc:not(:placeholder-shown) + span {
    color: #EBDDCA;
    transform: translateY(-26px) scale(0.75);
}
input.search-box-pc:focus {
    background: none;
    outline: none;
}
input.search-box-pc:focus + span {
    color: #615136;
    transform: translateY(-26px) scale(0.75);
}
.topbar-pc{
    height: 5%;
    margin: 10px;
}
.pc-ment{
    font-size: 2rem;
    display: inline-block;
    font-family: 'BBTreeGL';
}
.fa-lightbulb{
    color: rgb(254,197,14);
}
/* 라디오버튼 PC버전 */
.rbtn-pc{
    display: inline-block;
    margin-top: 10px;
    margin-left: 25%;
    z-index: -1;
}
.rbtn-pc input[type='radio'] {
    margin-top: -1px;
    vertical-align: middle;
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid #EBDDCA;
    border-radius:50%;
    outline:none;
    background:#EBDDCA;
}
.rbtn-pc input[type='radio']:before {
    content:'';
    display:block;
    width:70%;
    height:70%;
    margin: 15% auto;  
    border-radius:50%;  
}
.rbtn-pc input[type='radio']:checked:before {
    background:#615136;
}
.label-pc{
    font-family: 'BBTreeGL';
    font-size: 20px;
}


@media only screen and (min-width: 1025px){
    .realmap{
        padding: 0px 100px;
        position: relative;
        height: 850px;
    }
    .map-container{
        display: inline;
        min-width: 100%;
    }
    .map{
        display: inline;
        float: left;
        width: 50%;
        height: 800px;
    }
    .list{
        display: inline;
        float: left;
        width: 50%;
        height: 800px;
        padding-left: 10px;
        padding-right: 0px;
    }
    .table{
        font-size: 1rem;
    }
    .seeall, .seetheme{
        width: 60px;
        height: 60px;   
        line-height: 60px;     
    }
    .seeall a, .seetheme a{
        font-size: 20px;
    }
    .seetheme{
        margin-top: 85px;
    }
    .smallinfo{
        white-space:nowrap;
        width: 300px;
        height: 100px;
        font-family: 'BBTreeGL';
        font-size: 15px;
        text-align: center;
        color: #615136;
    }
    .title{
        font-size: 20px;
        color: black;
    }
    .det-btn{
        margin-top: 40px;
    }
    .line-content:hover{
        background-color: rgb(254,234,168);
    }
}
.source{
    position:absolute; bottom:0px;
    font-family: 'BBTreeGL';
}