@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'UhBeepuding'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeepuding.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Cafe24Dangdanghae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }

div#map{
    width:100%;height:300px;position:relative;z-index:0;
}
.storename{
    text-align: center;
    margin-top: 30px;
}
span#name{
    font-size: 3.5rem;
    font-family: 'Cafe24Dangdanghae';
}

.like{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#like{font-size: 2.5rem;}
#like-count{font-size: 2rem; margin-left: 10px; margin-bottom: 20px; font-family: 'BBTreeGL';}

.contents{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*.introduce{
    text-align: center;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'UhBeepuding';
}
.modify{
    text-align:center;
    border-radius: 100px;
    background-color: rgba(235,221,202,0.6);
    width: 100%;
}
.modify-btn{
    letter-spacing: 2rem;
    font-family: 'BBTreeGL';
    font-size: 18px;
    color: gray;
}*/

 /* 책방정보 테이블 */
table{
    width: 100%;
    margin-top: 20px;
}
tr{
    height: fit-content;
}
td{
    font-family: 'NanumSquareRound';
    border-top: 1px solid #615136;
    border-bottom: 1px solid #615136;
    padding: 10px;
    vertical-align: middle;
}
td.icon{
    text-align: center;
    vertical-align: middle;
}
td.colname{
    width: 225px;
    font-size: 27px;
    vertical-align: middle;
}
td.icon i{
    font-size: 27px;
    color: #569377;
    align-content: center;
}

i.fas.fa-external-link-alt{
    font-size: 30px;
    color: grey;
    margin-left: 10px;
}
td.data{
    width: 550px;
    font-size: 27px;
    overflow: hidden;
    vertical-align: middle;
}
/* 테마에 추가, 삭제 버튼*/
.add-btn, .delete-btn{
    background-color: #FFD757;
    font-family: 'YiSunShinDotumM';
    padding: 5px 30px;
    font-size: 1.5rem;
    margin: 10px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 90px;
    border: 2px solid #FFD757;
}
.add-btn:visited, .add-btn:hover, .delete-btn:visited, .delete-btn:hover
{color: #FFD757; background-color: white; text-decoration: none;}
/* 카카오톡으로 공유하기 버튼 */
#kakao-link-btn{
    background-color: rgb(250, 227, 0);
    font-family: 'YiSunShinDotumM';
    padding: 5px 250px;
    font-size: 1.5rem;
    margin: 10px;
    color: rgb(57,27,27);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 90px;
    border: 0px;
}
#kakao-link-btn img{
    width: 35px;
}
.themabtn-box{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
div#thema_list{
    width: 70%;
    font-family: 'YiSunShinDotumM';
}
.nowthema,.selectthema{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 900;
    color: #569377;
}
li{
    font-size: 1.5rem;
    text-align: center;
}
div#thema_list hr{
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem;
}
form#thema_form{
    text-align: center;
    margin: 10px 0px;
}
select#add, select#del{
    width: 250px;
    padding: .5rem .5rem; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 10px; 
    -moz-appearance: none;
    appearance: none;
    font-size: 1.4rem;
}
input#submit.sub-btn{
    height: 42px;
    font-size: 1.4rem;
    color: #569377;
    background-color: white;
    border: 2px solid #569377;
    border-radius: 10px;
}
.close-btn{
    background-color: #569377;
    font-family: 'YiSunShinDotumM';
    padding: 5px 15px;
    font-size: 1.3rem;
    margin-left: 360px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}
/*단골리스트*/
details{
    font-size: 1.5rem;
    font-family: 'YiSunShinDotumM';
    background-color: #E29B78;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    padding: .3rem 0rem;
    border-radius: 80px;
    margin-top: 10px;
}
/*도장찍기 버튼*/
.stamp{
    width: 80px;
    height: 80px;
    background: #569377;
    border-radius: 100px;
    text-align: center;
    line-height: 30px;
    display: block;
    font-family: 'YiSunShinDotumM';
    position: absolute;
    z-index: 3;
    margin: 15px 0px 0px 15px;
    color: white;
    padding-top: 9px;
}
.stamp a{
    color: white;
    font-size: 26px;
    z-index: 3;
}
div.review{
    font-size: 40px;
    font-family: 'YiSunShinDotumM';
}
.user_review{
    font-size: 30px;
}

.uname, .ucontent, .ustar{
    display: inline;
    font-family: 'YiSunShinDotumM';
}

.uname{
    font-weight: 900;
    color: #615136
}
.ucontent{
    margin-left: 15px;
    margin-right: 15px;
}
/* 
.clawling{
    background-color: #EBDDCA;
    padding: 20px 15px 20px 15px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px lightgrey;
    font-family: 'YiSunShinDotumM';   
} */

/*
a:link { color:#ffffff; text-decoration: none;}
a:visited { color: #ffffff; text-decoration: none;}
a:hover { color: #ffffff; text-decoration: none;} */

.delete{
    float: right;
}

textarea#id_content{
    width: 700px;
    height: 50px;
    outline: 2px solid #999;
    font-size: 30px;
    font-family: 'YiSunShinDotumM';
}
.rev_write{
    position: relative;
}
.button{
    /* font-family: 'YiSunShinDotumM';
    font-size: 30px; */
    position: absolute;
    margin-left: 20px;
}

.delete, .button{
    font-family: 'YiSunShinDotumM';
    font-size: 1.3rem;
    background-color: #569377;
    border: 0px;
    color:white;
    border-radius: 10px;
    padding: 8px;
}

.delete a:link { color:white; text-decoration: none;}
.delete a:visited { color: white; text-decoration: none;}
.delete a:hover { color: white; text-decoration: none;}

input[type="radio"]{
    display:none;
 }

#rev-star{
    color: #FFD757; font-size: 30px;
}
label i.fas.fa-star{
    color: #a7a7a7; font-size: 35px;
}
label i.fas.fa-star.on{
    color: #FFD757; font-size: 35px;
}
/* input[type="radio"]:checked + label i.fas.fa-star{
    color: #FFD757;
} */
.send-btn{
    background-color: #E29B78;
    font-family: 'YiSunShinDotumM';
    padding: 10px 15px;
    font-size: 1.3rem;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    right: 10px;
}
 /* 라디오버튼 별점 이미지가 아니라 icon 불러와서 보여주기
input[type="radio"] + label{
     background-image:url(../img/gray_star.png);
     background-size: 60px 60px;
     height: 60px;
     width: 60px;
     display:inline-block;
     padding: 0 0 0 0px;
     cursor:pointer;
 }
 
input[type="radio"]:checked + label{
     background-image:url(../img/full_star.png);
     background-size: 60px 60px;
 }*/

 /*크롤링 해온 내용*/
 .clawling-container{
    text-align: center;
    background-color: rgba(235, 221, 202, 0.3);
    width: 100%;
    padding-top: 5px;
    border-radius: 10px;
}

.review_hs{
    width: 100%;
    margin-top: 40px;
}
.cr_review_ct h3{
    font-weight: 800;
    font-family: 'YiSunShinDotumM';
    font-size: 1.7rem;
}
.cr_review_ct h4{
    font-size: 1.4rem;
    padding: 0px 25px;
    font-family: 'NanumSquareRound';
}
.cr_review_ct a:link { color:#000000; text-decoration: none;}
.cr_review_ct a:visited { color: #000000; text-decoration: none;}
.cr_review_ct a:hover { color: #000000; text-decoration: none;}

/*
.count-num{
    font-family: 'YiSunShinDotumM';
    display: inline-flex;
    font-size: 42px;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 40px;
    float: right;
    display: table-cell;
}*/
i.fas.fa-quote-left, i.fas.fa-quote-right{
    display: inline-block; color: lightgray; font-size: 30px;
}
.storeimg{
    width: 100%;
}

@media only screen and (min-width: 1025px){
    div#map{
        width: 80%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .img-container{
        text-align: center;
    }
    .square{
        float: left;
        width: 10px;
        height: 40px;
        background-color: #615136;
        margin-right: 1rem;
        margin-top: 0.5rem;
    }
    span#name{
        font-size: 2.5rem;
        font-weight: 600;
    }
    .heart{
        width: 30px;
    }
    .scrap_count{
        width: 65px;
        margin-top: 5px;
        margin-left: 13%;
    }
    .count-num{
        font-size: 1.5rem;
    }
    .storename{
        margin-top: 10px;
    }
    table{
        width: 80%;
        margin-top: 1px;
        margin-left: auto;
        margin-right: auto;
    }
    td{
        font-size: 1.2rem;
        font-family: 'YiSunShinDotumM';
    }
    table td{
        padding: 0.4rem;
    }
    td.icon{
        width: 10%;
    }
    td.data{
       font-size: 1.5rem;
    }

    i.fas.fa-external-link-alt{
        font-size: 20px;
        color: grey;
        margin-left: 10px;
    }
    .modify, .clawling-container{
        margin-left: auto;
        margin-right: auto;
    }
    .review-container{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    div.review{
        font-size: 2rem;
    }
    .user_review{
        font-size: 1.4rem
    }
    input[type="radio"] + label{
        background-size: 40px 40px;
        height: 40px;
        width: 40px;
    }
    
   input[type="radio"]:checked + label{
        background-size: 40px 40px;
    }
    
    textarea#id_content{
        width: 95%;
        font-size: 1.5rem;
    }
    textarea::placeholder{
        font-size: 1.5rem;
    }
    .delete{
        font-size: 1rem;
        padding: 6px;
    }
    #like{font-size: 2em;}
    #like-count{font-size: 2rem;}
    #kakao-link-btn{margin: 10px 25%;}
    .storeimg{
        width: 80%;
    }

}