@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }

.description{
    font-family: 'YiSunShinDotumM';
    padding: 2.5rem 3rem 1rem 3rem;
}
.description h1{
    font-size: 3.2rem;
    font-weight: 900;
    /*margin-bottom: 2rem;*/
}
.description h3{
    font-family: 'NanumSquareRound';
}
.like{
    float: right;
    margin-right: 25px;
}
#like{font-size: 2.5rem;}
#like-count{font-size: 2rem; margin-left: 10px; margin-bottom: 20px;}

.writer{
    color: #727272;
    font-family: 'NanumSquareRound';
    font-size: 1.7rem;
    margin-left: 1.3rem;
}
.myprofile_img {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin: 10px 0px;
}

p{
    margin: 0;
    text-align: center;
    font-size: 2rem;
}
.list{
    overflow:auto;
    width:100%;
    height:450px;
    font-family: 'NanumSquareRound';
    padding-left: 40px;
    padding-right: 40px;
}

.loc{
    width: 80px;
    height: 80px;
    background: #569377;
    border-radius: 100px;
    text-align: center;
    line-height: 80px;
    display: block;
    font-family: 'YiSunShinDotumM';
    position: absolute;
    z-index: 3;
    margin: 15px 0px 0px 15px;
    color: white;
    border: 2px solid #569377;
    cursor: pointer;
}
div.loc a{
    color: white;
    font-size: 27px;
    z-index: 3;
}
table {
    border-top: 1px solid #272727;
    border-collapse: collapse;
    font-size: 25px;
    table-layout: fixed;
    word-break: break-all;
}
.table-seemore{
    width: 20%;
}
.table-sname{
    width: 30%;
}
.table tr{
    text-align: center;
    /* font-size: 30px; */
    color: #000000;
}

.table td {
    border-top: 1px solid #615136;
    border-bottom: 1px solid #615136;
    padding: 10px;
    vertical-align: middle;
}
.table thead th{
    border-bottom: 2px solid #615136;
    /* border-top: 2px solid #615136; */
}
.sub-btn{
    font-family: 'BBTreeGL';
    background-color: white;
    border: 2px solid #569377;
    cursor: pointer;
    color:#569377;
    border-radius: 100px;
    padding: 7px;
    font-weight: 900;
}
.sub-btn:visited, .sub-btn:hover{
    color: white;
    background-color: #569377;
    text-decoration: none;
}

.label{
    font-family: 'BBTreeGL';
    font-size: 27px;
    margin-left: 10px;
    margin-right: 5px;
  }
.smallinfo{
    white-space:nowrap;
    width: 450px;
    height: 160px;
    font-family: 'BBTreeGL';
    font-size: 27px;
    text-align: center;
    color: #000000;
}
.title{
    font-size: 40px;
    color: black;
}
.det-btn{
    font-family: 'BBTreeGL';
    background-color: #569377;
    border: 2px solid #569377;
    cursor: pointer;
    color:white;
    border-radius: 100px;
    padding: 8px;
    margin-top: 15px;
}
.btn-container{
    font-family: 'YiSunShinDotumM';
    padding: 1.5rem 3rem 1rem 3rem;
    font-size: 1.8rem;
}
.update, .delete{
    background-color: #FFD757;
    border: 3px solid #FFD757;
    color:white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.update:visited, .update:hover, .delete:visited, .delete:hover{
	color: #FFD757; 
	background-color: white; 
	text-decoration: none;
}
.seelist{
    float: right;
    background-color: #569377;
    border: 2px solid #569377;
    cursor: pointer;
    color:white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
}
.thema-img{
    width: 100%;
}
/* det-btn loc seelist 초록버튼*/
.det-btn:visited, .det-btn:hover, .loc:visited, .loc:hover, .seelist:visited, .seelist:hover{
	color: #569377; 
	background-color: white; 
    text-decoration: none;
    font-weight: 900;
}
.send-btn{
    background-color: #E29B78;
    font-family: 'YiSunShinDotumM';
    padding: 10px 15px;
    font-size: 1.3rem;
    border: 3px solid #E29B78;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    right: 10px;
}
.send-btn:visited, .send-btn:hover{
    color: #E29B78; 
	background-color: white; 
	text-decoration: none;
}

@media only screen and (min-width: 1025px){
    .description{
        padding: 3rem 6rem;
    }
    .description h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .description h3{
        font-size: 1.2rem;
    }
    .realmap{
        padding: 0px 100px;
    }
    .map-container{
        margin: 0 40px;
    }
    .map{

    }
    .list{
        display: inline;
        float: left;
        width: 50%;
        height: 400px;
        padding-left: 10px;
        padding-right: 0px;
    }
    .table{
        font-size: 1rem;
    }
    .smallinfo{
        white-space:nowrap;
        width: 300px;
        height: 100px;
        font-family: 'YiSunShinDotumM';
        font-size: 15px;
        text-align: center;
        color: #615136;
    }
    .title{
        font-size: 20px;
        color: black;
    }
    .det-btn{
        margin-top: 30px;
    }
    .thema-img{
        width: 60%;
        margin: 0px auto;
    }
    .line-content:hover{
        background-color: rgb(254,234,168);
    }
}