@font-face { font-family: 'JSDongkang-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'JSDongkang-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-BoldA1.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body {width: 100%; height: 100%;}

.themaimg{
    width: 100%;
    margin-bottom: 10px;
}

.btn-box{
    widows: 100%;
    text-align: center;
}
.publicthema-btn, .addthema-btn, .mythema-btn, .publicthema-btn:visited, .mythema-btn:visited, .addthema-btn:visited{
    background-color: #569377;
    font-family: 'JSDongkang-Regular';
    padding: 15px 30px;
    font-size: 2rem;
    margin: 20px 10px 10px 10px;
    border: 3px solid #569377;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 90px;
}
.publicthema-btn:hover, .mythema-btn:hover{
	color: #569377; 
	background-color: white; 
	text-decoration: none;
}
.addthema-btn, .addthema-btn:visited{
    background-color: #FFD757;
    border: 3px solid #FFD757;
}
.addthema-btn:hover{
    color: #FFD757;
    background-color: white; 
	text-decoration: none;
}

.title{
    font-size: 2.5rem;
    font-family: 'JSDongkang-Bold';
    text-decoration: none;
    color: black;
    display: block;
}
.title2{
    margin-left: 25px;
    text-decoration: none;
    font-family: 'JSDongkang-Regular';
    font-size: 2.4rem;
}
.writer{
    color: #727272;
    font-family: 'JSDongkang-Regular';
    font-size: 2rem;
    margin-left: 2rem;
}
i.fas.fa-heart, i.far.fa-heart{
    font-size: 2.5rem;
}
.count{
    font-size: 2rem;
    margin-left: 5px;
}
.myprofile_img {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.themaimg-box{
    text-align: center;
}
.allthema-box{
    overflow: hidden;
    margin: auto;
    width: 90%;
}
.like{
    float: right;
    margin-top: 20px;
    margin-right: 5px;
}

@media only screen and (min-width: 1025px){
    .eachthema{
        display: inline-block;
        width: 30%;
        margin: 10px;
        vertical-align: top;
    }
    .themaimg{
        height: 300px;
    }
    .title2{
        font-size: 1.5rem;
    }
    .publicthema-btn, .addthema-btn, .mythema-btn {
        padding: 1px 15px;
        font-size: 1.7rem;
        margin: 5px 10px;
    }
    .myprofile_img{
        width: 50px;
        height: 50px;
        margin: 0px 0px 20px 0px;
    }
    .writer{
        font-size: 1.5rem;
    }
    .like{
        margin: 10px 0px 0px 0px;
    }
    i.fas.fa-heart, i.far.fa-heart, .count{
        font-size: 1.5rem;
    }
}