{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<head>
    <script src="{% static 'js/jquery.instagramFeed.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
</head>
<body>

{% for i in insta %}
<div id="{{i}}"></div>
{% endfor %}

<script type='text/javascript'>
    let arr = {{ instalist | safe }};
    for(let i=0; i< arr.length;i++){
        $(window).on('load', insta(arr[i]));
    }
    function insta(name){
        $.instagramFeed({
            'username': name,
            'container': "#123".replace('123',name),
            'display_profile': false,
            'display_biography': false,
            'items': 1,
            'items_per_row': 4,
            'margin': 0.5,
            'styling': false,
        });
    }
</script>
</body>

{% endblock %}