<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load el_pagination_tags %}

<head>
    <script src="{% static 'js/jquery.instagramFeed.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
</head>

<body>
    <h2 class="ment">동네 책방의 최근 소식을 살펴보세요!</h2>

    <div class="card-container">
        {% paginate insta %}
        {% for i in insta %}
        <div id="{{i}}" class="instacard"></div>
        {% endfor %}
        <h1>{% show_more %}</h1>
    </div>

    <script type='text/javascript'>
        let instaarr = document.getElementsByClassName('instacard');
        for(let i=0; i<10; i++){
            insta(instaarr[i].getAttribute('id'))
        }

        function insta(name){
            $.instagramFeed({
                'username': name,
                'container': "#123".replace('123',name),
                'display_profile': false,
                'display_biography': false,
                'items': 1,
                'items_per_row': 4,
                'margin': 0.5,
                'styling': false,
            });
        }
    </script>
</body>
</html>