<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/room.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <meta charset="utf-8"/>
</head>

<body>
    <!--목록으로 돌아가기-->
    <a class="listlink" href="{% url 'chat-list' %}">
        <i class="fas fa-chevron-left prev"></i>
    </a>
    <div class="chatbody" id="chatbody">
    {% for msg in messages.all %}
        {% if msg.sender == user %} <!--내가 보낸 문자 오른쪽정렬-->
            <div class="sendchat" id="sendchat">
                <div class="chatcontent_r">{{msg.content}}</div>
                <div class="chat_time">{{msg.sentAt}}</div>
            </div>
        {% else %}
            <div class="recieve-message">
                {% if msg.sender.profile.profileimg %}
                    <img src="{{msg.sender.profile.profileimg.url}}" alt="" class='mypage-prof-img'>
                {% else %}
                    <img src="{% static 'images/basic-profile-img.png' %}" class='mypage-prof-img'>
                {% endif %}
                <!--남이 보낸 문자 왼쪽정렬-->
                {{msg.sender}}<br>
                <div class="chatcontent">{{msg.content}}</div>
                <div class="chat_time">{{msg.sentAt}}</div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <input id="chat-message-input" type="text" size="100" class="sending-box"/>
    <input id="chat-message-submit" type="button" value="Send" class="btnsend"/>
    
    <!--안보이는 부분임-->
    <img id="chat-img" src="{% static 'images/basic-profile-img.png' %}" style="visibility: hidden; height: 0px;">
    
    <form method="POST">
    {% csrf_token %}
        <input id="chat-room" name="room" type="text" style="visibility: hidden; height: 0px;"/>
        <input id="chat-text" name="message" type="text" style="visibility: hidden; height: 0px;"/>
        <input id="save" type="submit" style="visibility: hidden; height: 0px;"/>
    </form>
    <!--여기까지-->


    
    <script>
        let roomName = {{ room_name_json }};
        var request_user = {{ name }};
        var proimg = {{ other }};
        var nickname = {{ nick }};
        
        const $messageTextBox = $('#chatbody'); 
        $messageTextBox.scrollTop($messageTextBox[0].scrollHeight);

        // let img_src = document.querySelector('#chat-img').getAttribute('src')
        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/chat/' + roomName + '/');

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            var from = data['name']; 
            var cur = new Date();
            let month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

            if(proimg != "nan") img_src = proimg;
            else img_src = document.querySelector('#chat-img').getAttribute('src');

            if(from != request_user){ // 남이 보낸 문자
                var img = document.createElement('img');
                img.setAttribute('src', img_src);
                img.setAttribute('class','mypage-prof-img');
                document.getElementById("chatbody").appendChild(img);

                var div1 = document.createElement('div');
                var text1 = document.createTextNode(nickname);
                div1.appendChild(text1);
                div1.setAttribute('class','msg-sender-name');
                document.getElementById("chatbody").appendChild(div1);

                //내용
                var div2 = document.createElement('div');
                var text2 = document.createTextNode(message);
                div2.appendChild(text2);
                div2.setAttribute('class','chatcontent');
                document.getElementById("chatbody").appendChild(div2);

                //시각
                var div3 = document.createElement('div');
                var hours = 0, ap = "";
                if(cur.getHours() < 12){hours = cur.getHours(); ap = " a.m.";}
                else{hours = cur.getHours()-12; ap = " p.m.";}
                var time = month[cur.getMonth()]+". "+cur.getDate()+", "+cur.getFullYear()+", "+cur.getHours()+":"+cur.getMinutes()+ap;
                var text3 = document.createTextNode(time);
                div3.appendChild(text3);
                div3.setAttribute('class','chat_time');
                document.getElementById("chatbody").appendChild(div3);
            }
            else{ //내가 보낸 문자
                var div = document.createElement('div');
                div.setAttribute('class', 'sendchat');

                //내용
                var div2 = document.createElement('div');
                var text2 = document.createTextNode(message);
                div2.appendChild(text2);
                div2.setAttribute('class','chatcontent_r');
                div.appendChild(div2);

                //시각
                var div3 = document.createElement('div');
                var hours = 0, ap = "";
                if(cur.getHours() < 12){hours = cur.getHours(); ap = " a.m.";}
                else{hours = cur.getHours()-12; ap = " p.m.";}
                var time = month[cur.getMonth()]+". "+cur.getDate()+", "+cur.getFullYear()+", "+cur.getHours()+":"+cur.getMinutes()+ap;
                var text3 = document.createTextNode(time);
                div3.appendChild(text3);
                div3.setAttribute('class','chat_time');
                div.appendChild(div3);
                document.getElementById("chatbody").appendChild(div);
            }
            const $messageTextBox = $('#chatbody'); 
            $messageTextBox.scrollTop($messageTextBox[0].scrollHeight);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();

        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            var room = document.querySelector("#chat-room");
            room.value = roomName;
            var text = document.querySelector("#chat-text");
            text.value = message;
            chatSocket.send(JSON.stringify({'message':message, 'name':request_user}));
            document.querySelector('#save').click();

            messageInputDom.value = '';
        };

        
        $(document).ready(function(){
            $(window).resize(resizeContents);
            resizeContents();
        })
        function resizeContents() {
            let h = $(window).height();
            let w = $(window).width();
            if (h > w) $("#chatbody").height(h-270);
            else $("#chatbody").height(h-200);
            $messageTextBox.scrollTop($messageTextBox[0].scrollHeight);
        }
        
    </script>
</body>
{% endblock %}
</html>