@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal,bold; font-style: normal; }

.chat-title{
    font-size: 3rem;
    font-family: 'YiSunShinDotumM';
    margin: 20px;
}
.mlist table{
    font-family: 'NanumSquareRound';
    font-size:28px;
    width: 100%;
    /* height: 100px; */
    text-align:left;
    vertical-align: middle;
    table-layout: fixed;
}
.mlist td{
    height: 100px;
    border-bottom: 2px dashed #615136;
    border-top: 2px dashed #615136;
}
.send_content{
    width:50%;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #569377;
}
.sender_id{
    padding-right:10px;
    text-align: right;
}
td.send_content a{
    color: #569377;
    font-weight: 700;
    text-decoration: none;
}
td.sender_id a{
    color: #000000;
    text-decoration: none;
}
.send_time{
    width:330px;
    color: gray;
    text-align: center;
    font-size: 1.5rem;
}
@media (min-width: 1025px){
    .mlist{
        margin: 0 3rem;
    }
    .mlist table{
        font-size:1.2rem;
    }
    .mlist td{
        height: 70px;
    }
}