@font-face { font-family: 'JSDongkang-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'JSDongkang-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-BoldA1.woff') format('woff'); font-weight: normal; font-style: normal; }

.chat-title{
    font-size: 3rem;
    font-family: 'JSDongkang-Regular';
    margin: 20px;
}
.mlist table{
    font-family: 'JSDongkang-Regular';
    font-size:28px;
    width: 100%;
    /* height: 100px; */
    text-align:left;
    vertical-align: middle;
    table-layout: fixed;
}
.mlist td{
    height: 100px;
    border-bottom: 2px dashed #615136;
    border-top: 2px dashed #615136;
}
.send_content{
    width:47%;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #569377;
}
.sender_id{
    padding-right:10px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
td.send_content a{
    color: #569377;
    text-decoration: none;
}
td.sender_id a{
    color: #000000;
    text-decoration: none;
}
.send_time{
    width:330px;
    color: gray;
    text-align: center;
    font-size: 1.5rem;
}
img{
    display: block;
    width: 300px;
    margin: 10% auto;
}
.no-chat{
    font-size: 2.7rem;
    font-family: 'JSDongkang-Regular';
    text-align: center;
}
.nono{
    font-size: 3.3rem;
    font-family: 'JSDongkang-Bold';
}
@media (min-width: 1025px){
    .mlist{
        margin: 0 3rem;
    }
    .mlist table{
        font-size:1.2rem;
    }
    .mlist td{
        height: 70px;
    }
    .chat-title{
        font-size: 2rem;
        margin-top: 16px;
    }
    img{
        margin: 2% auto;
        width: 200px;
    }
    .no-chat{
        font-size: 1.4rem;
    }
    .nono{
        font-size:2rem;

    }
}