@font-face { font-family: 'JSDongkang-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    margin: 0px;
    background-color: rgb(255, 251, 248);
}
.chatbody{
    font-family: 'JSDongkang-Regular';
    font-size: 35px;
    color: #3c281b;
    height: 1480px;
    overflow:auto;
    margin:0 30px;
    padding-top: 10px;
}
.receiver{
    position: sticky;
    top: 0;
    width:100%;
    font-family: 'JSDongkang-Regular';
    font-size: 35px;
    text-align: center;
    color: #3c281b;
    margin: 20px 0;
}
img.mypage-prof-img {
    border-radius: 100%;
    width: 50px;
    height:50px;
}
@media only screen and (min-width: 1025px){
    .chatbody{
        font-size: 1rem;
        height: 420px;
        margin:0 150px;
    }
    .chatbody::-webkit-scrollbar{
        display: none;
    }
    .receiver{
        font-size: 1.5rem;
        margin: 10px 0;
    }
    img.mypage-prof-img{
        width: 40px;
        height: 40px;
    }
}
.chatcontent{
    font-size: 25px;
    /* display: inline-block; */
    background-color:rgba(235, 221, 202, 0.4);
    border-radius: 50px;
    padding: 15px 35px;
    margin: 0px 40px;
    width: fit-content;
}
.sendchat{
    text-align:right;
}
.chatcontent_r{
    font-size: 25px;
    display: inline-block;
    background-color:rgba(242, 198, 12, 0.6);
    border-radius: 50px;
    padding: 15px 35px;
    margin: 10px 30px 10px 100px;
    word-break: break-all;
}
.chat_time{
    font-size: 20px;
    color: gray;
    margin: 4px 40px;
}
.chatform{
    height: 100px;
    margin: 10px;
}
input#chat-message-input.sending-box{
    font-family: 'BBTreeGL';
    font-size: 2.7rem;
    width:80%;
    height: 110px;
    float: left;
    box-shadow: 5px 5px 10px #EBDDCA;
    margin-left:20px;
    margin-top:20px;
    border: 2px solid #EBDDCA;
    border-radius: 20px;
}
input#chat-message-input.sending-box:focus{
    outline: 2px solid #EBDDCA;
}
.btnsend{
    background-image:url("../images/dnbsymbol.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 80px;
    background-position: top;
    border:none;
    width: 100px;
    height:100px;
    font-family: 'JSDongkang-Regular';
    font-size: 25px;
    color: #3c281b;
    padding-top:60px;
    margin-right: 40px;
    margin-top: 30px;
    float:right;
}

.msg-sender-name{
    display: inline;
    margin-left: 15px;
}

.listlink{
    color: #FFFFFF; 
    font-size: 3rem; 
    position : absolute; 
    z-index: 0; 
    top: 10px; 
    left: 30px;
    text-decoration: none;
}
.listlink:hover{
    color: #569377;
    text-decoration: none;
}
@media only screen and (min-width: 1025px){
    .chatcontent, .chatcontent_r{
        font-size: 1.1rem;
        padding: 10px 25px;
    }
    .chatcontent_r{
        margin: 8px 30px 0px 100px;
    }
    .chat_time{
        font-size: 0.8rem;
    }
    .writechat textarea{
        font-family: 'JSDongkang-Regular';
        font-size: 1.2rem;
        width:88%;
        height: 90px;
        padding-left:10px;
        margin: 0px 150px;
        outline:none;
    }
    .btnsend{
        background-size: 80px;
        height:90px;
        font-size: 1.2rem;
        margin-right: 180px;
        margin-top: 10px;
    }
    .listlink{
        font-size: 2rem;
    }
    input#chat-message-input.sending-box{
        height: 80px;
        margin: 10px 0px 0px 150px;
        width: 65%;
        font-size: 1.2rem;
    }
}