@font-face { font-family: 'MapoDPPA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Arita-buri-SemiBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
body, html{
    height: 100%;
}
.bg{
    background-image: url(../images/illust.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90%;
}

.sname {
    width: 400px; 
    height: 400px; 
    background-color: #569377;
    font-family: 'MapoDPPA';
    color: white;
    font-size: 3rem;
    border-radius: 100%;
    transition: all 2s; 
    -webkit-animation: fadeOut 1s 1s infinite linear alternate;
    animation: fadeOut 1s 1s infinite linear alternate; 
}
div.tag:hover {
    background-color: crimson;
}
p.tag-text{
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    height: 90px;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes fadeOut {   
  0% { opacity: 1; }
  100% { opacity: 0;}
}

/* 
div.banner{
    width: 980px; 
    height: 2400px;
    overflow: hidden;
    position: relative;
}
.banner ul {
    position: absolute;
    width: 980px; 
    height: 2400px;
    margin: 0px; 
    padding:0; 
    list-style: none;
}

.banner ul li {
    float: left; 
    width: 980px; 
    height: 2436px;
    margin:0; 
    padding:0;
}

body{
    margin: 0px;
}
.slideimg-box{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 2400px;
}
.slideimg4{
    background-image: url(../images/bookstore4.png);
    background-size: cover;
}
.slideimg5{
    background-image: url(../images/bookstore5.png);
    background-size: cover;
}
.slideimg6{
    background-image: url(../images/bookstore6.png);
    background-size: cover;
}
.main-ment{
    font-family: 'Arita-buri-SemiBold';
    position: fixed;
    left: 60;
    top: 100;
    width: 100%;
    height: 32px;
    color: #FFFFFF;
    font-size: 10rem;
    text-shadow: 5px 5px 5px black;
}

.main-btn{
    font-family: 'YiSunShinDotumM';
    width: 600px;
    height: 130px;
    font-size: 3.5rem;
    background: #FFD757;
    position: fixed;
    right: 100;
    bottom: 500;
    border-radius: 100px;
    text-align: center;
    color: #ffffff;
    line-height: 130px;
    z-index: 3;
    text-shadow: 3px 2px 3px rgb(70, 69, 69);
    letter-spacing: 2px;
}

.main-btn a:link { color:black; text-decoration: none;}
.main-btn a:visited { color: black; text-decoration: none;}
.main-btn a:hover { color: black; text-decoration: none;} */

@media(min-width:1024px){

}

