@font-face { font-family: 'MapoDPPA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Arita-buri-SemiBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MapoPeacefull'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff'); font-weight: normal; font-style: normal; }
h1,h2,h3,h4,h5,h6{
    color: #444;
    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-wrapper{
    margin-top: 1.2rem;
}

.page-wrapper a:hover{
    text-decoration: none;
}

/* Post Slider */
.post-slider{
    position: relative;
    text-align: center;
}
.post-slider img{
    margin-bottom: 10px;
    vertical-align: top;
    width: 400px;
}
.post-slider .slider-title{
    text-align: center;
    margin: 40px auto;
}
.slider-title{
    font-family: 'MapoDPPA';
}

.post-slider .next{
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 4rem;
    color: #FFFFFF;
    cursor: pointer;
}
.post-slider .prev{
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 4rem;
    color: #FFFFFF;
    cursor: pointer;
}
.post-slider .post-wrapper{
    width: 84%;
    height: 1200px;
    margin: 20px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
    box-shadow: 5px 5px 20px 0.1px rgb(190, 189, 189);
}

.post-slider .post-wrapper .post{
    width: 300px;
    height: 1200px;
    margin: 0px 10px;
    background: #FFFFFF;
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
}
.post-slider .post-wrapper .post .post-info{
    height: 130px;
    padding: 0px 5px;
}
.post-slider .post-wrapper .post .post-info h4{
    font-family: 'MapoPeacefull';
    font-size: 2.5rem;
    font-weight: 900;
    color: #000000;
}

.post-slider .post-wrapper .post .post-info .p{
    margin: 0px 15px;
    font-size: 2rem;
    color: rgb(109, 109, 109);
    font-family: 'MapoPeacefull';
}

.post-slider .post-wrapper .post img{
    width: 100%;
    height: 1000px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#slick-slide-control00, .slick-dots{
    display: none;
}


.post-slider .post-wrapper-pc{
    width: 84%;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
    box-shadow: 5px 5px 20px 0.1px rgb(190, 189, 189);
}

.post-slider .post-wrapper-pc .post{
    width: 300px;
    height: 400px;
    margin: 0px 10px;
    background: #FFFFFF;
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
}
.post-slider .post-wrapper-pc .post .post-info{
    height: 130px;
    padding: 0px 5px;
}
.post-slider .post-wrapper-pc .post .post-info h4{
    font-family: 'MapoPeacefull';
    font-size: 1.9rem;
    font-weight: 900;
    color: #000000;
}

.post-slider .post-wrapper-pc .post .post-info .p{
    margin: 0px 15px;
    font-size: 15px;
    color: rgb(109, 109, 109);
    font-family: 'MapoPeacefull';
}

.post-slider .post-wrapper-pc .post img{
    width: 100%;
    height: 260px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#ment{
    font-size: 2.5rem;
    font-family: 'MapoDPPA';
    margin: 50px 0px;

}

@media only screen and (min-width: 1025px){
    #ment{
        font-size: 1.6rem;
        margin: 0px;
    }
}