@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
body{
    margin: 0px;
    background-color: #E29B78;
    text-align: center;
}

h1{
    font-size: 2.4rem;
    background-color: #FFD757;
    margin-top: 50px;
    border-radius: 10px;
    width: 200px;
    padding: 5px;
}

table{
    margin: 0px auto;
}

.tag-container{
    background-color: #ffffff;
    width: 70%;
    height: 50rem;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
    font-family: 'YiSunShinDotumM';
}

.tag-box{
    overflow: auto;
    width: 200px;
    height: 500px;
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 20px;
    background-color: white;
}
label.check-box:before{
    content: "\f0c8";
    font-family: "Font Awesome 5 Free";
    color: #569377;
}
input:checked + label.check-box:before{
    content: "\f14a";
    font-family: "Font Awesome 5 Free";
    color: #569377;
}

i.fas.fa-angle-double-right, i.fas.fa-angle-double-left{
    font-size: 3rem;
    margin: 10px 10px;
    color: #569377;
}
.save-btn{
    border-radius: 5px;
    border: 4px solid #569377; 
    background-color: rgba(0,0,0,0); 
    color: #569377; 
    padding: 5px 200px;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
    text-decoration: none;
}
.save-btn:hover{
    color: white;
    background-color: #569377;
}

.pcinfo{
    color: grey;
    font-size: 1.3rem;
    margin-top: 20px;
}

@media only screen and (min-width: 1025px){
    .tag-container{
        height: 80%;
        width: 80%;
        margin-top: 15px;
    }
    .tag-box{
        width: 350px;
        height: 200px;
        font-size: 2rem;
        padding-left: 20px;
    }
    h1{
        margin-left: 70px;
    }
}