@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
body{
    margin: 0px;
    background-color: #E29B78;
    text-align: center;
}
.signup-box{
    background-color: #ffffff;
    width: 70%;
    height: 55rem;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
    font-family: 'YiSunShinDotumM';
}
.sign-content{
    padding-top: 2rem
}
#inp{
    border: none;
    background-color: rgb(236, 236, 236);
    width: 23rem;
    height: 5rem;
    margin-bottom: 25px;
    font-size: 2rem;
    padding-left: 20px;
}


.signup-btn{
    width: 23rem;
    height: 5rem;
    border-radius: 5px;
    border: 4px solid #569377; 
    background-color: rgba(0,0,0,0); 
    color: #569377; 
    padding: 3px;
    font-size: 2rem;
    font-weight: 700;
}
.login-btn:hover{
    color: white;
    background-color: #569377;
}

.kakao{
    width: 20rem;
    height: 4rem;
    margin: 25px 0px;
}

.gotosignup{
    font-size: 1.5rem;
}