@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'JSDongkang-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    margin: 0px;
    padding: 0px;
    background-color: #E29B78;
    text-align: center;
}
.tag-box{
    background-color: #ffffff;
    width: 80%;
    height: 75rem;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
    font-family: 'JSDongkang-Regular';
}
.choice-ment{
    font-family: 'JSDongkang-Regular';
    font-size: 2.7rem;
}
.fa-lightbulb:before{
    color: #FFD757;
}

.tag-container{
    height: 53rem;
    margin: 20px;
    overflow: scroll;
    font-size: 2rem;
    font-family: 'NanumSquareRound';
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.tag-container::-webkit-scrollbar{
    display: none;
}

.inner-container{
    margin: 10px;
    display: inline-block;
}
label{
    cursor: pointer;
}

input[type='checkbox'] {
    display: none;
    /* margin-top: -3px;
    vertical-align: middle;
    -webkit-appearance:none;
    width:30px;
    height:30px;
    border:1px solid #569377;
    border-radius: 5px;
    outline:none;
    background: #569377;  */
}
.name-span{
    position: relative;
    display: inline-block;
    background: white;
    border: 2px solid #569377;
    padding: 15px 30px;
    color: #569377;
    /*text-shadow: 0 1px 4px rgba(0,0,0,.5);*/
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
    user-select: none;
}

input[type='checkbox']:before {
    content:'';
    display:block;
    width:90%;
    height:90%;
    margin: auto;  
}
input[type='checkbox']:checked ~ span {
    background-color: #569377;
    color: #fff;
}

.signup-btn, .signup-btn:visited{
    width: 23rem;
    height: 5rem;
    border-radius: 5px;
    border: 4px solid #569377; 
    background-color: #569377;
    color: white; 
    padding: 3px;
    font-size: 2.5rem;
}

.signup-btn:hover{
    color: #569377;
    background-color: white; 
    text-decoration: none;
}

a.bookstore{
    text-decoration: none;
    color: #569377;
}
img{
    width: 17rem;
    margin-top: 2rem;
}

@media only screen and (min-width: 1025px){
    .name-span:hover{
        color: white; 
        background-color: #569377; 
        text-decoration: none;
    }
    img{
        float: left;
        margin-left: 100px;
        width: 13rem;
        margin-top: 1rem;
    }
    .tag-box{
        width: 90%;
        height: 27rem;
    }
    .choice-ment{
        font-size: 2rem;
        margin-top: 37px;
        padding-left: 33%;
        text-align: left;
    }
    .tag-container{
        height: 20rem;
        font-size: 1rem;
    }
    .signup-btn{
        height: 3rem;
        line-height: 0px;
        padding: 0px;
        font-size: 2rem;
    }
}