<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% block content %}
    {% load staticfiles %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/realmap.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    </head>
    <body>
        <div class="realmap">
        <!-- 아이폰678기준 검색바 -->
        {% if request.user_agent.is_mobile %}
        <div class="topbar">
            <form action="{% url 'mapsearch' %}" method="get" class="search-act">
                <div class="ment">             
                    <i class="fas fa-lightbulb"></i>
                    {% if tf %}
                    #{{tf}} 태그가 포함된 책방입니다!
                    {% else %}
                    지도에서 원하는 책방을 찾아보세요
                    {% endif %}
                </div>
                <div class="rbtn">
                    <input type='radio' name="searchtype" value='searchname' id="f-option" checked>
                    <label for="f-option" class="label">이름검색</label>
                    <input type='radio' name="searchtype" value='searchaddr' id="s-option">
                    <label for="s-option" class="label">주소검색</label>
                </div>
                <div class="sbox">
                    <input type="search" class="search-box" name="query" placeholder="검색어를 입력하세요">
                    <img src="{% static 'images/searchbtn.png' %}" class="search-mark">
                </div>
            </form>
            <script>
                $('img.search-mark').click(function(){
                    $('.search-act').submit();
                })
            </script>
        </div>
        {% endif %}

        
        <!-- PC로 접속했을 때 검색바 -->
        {% if request.user_agent.is_pc %}
        <div class="topbar-pc">
        <form action="{% url 'mapsearch' %}" method="get" class="search-act-pc">
            <div class="pc-ment">             
                <i class="fas fa-lightbulb"></i>
                {% if tf %}
                #{{tf}} 태그가 포함된 책방입니다!
                {% else %}
                지도에서 원하는 책방을 찾아보세요
                {% endif %}
            </div>
        <div class="rbtn-pc">
            <input type='radio' name="searchtype" value='searchname' id="f-option" checked>
            <label for="f-option" class="label-pc">이름검색</label>
            <input type='radio' name="searchtype" value='searchaddr' id="s-option">
            <label for="s-option" class="label-pc">주소검색</label>
        </div>
        <div class="sbox-pc">
            <input type="search" class="search-box-pc" name="query" placeholder="Search...">
            <img src="{% static 'images/searchbtn.png' %}" class="search-mark-pc">
        </div>
        </form>
        <script>
            $('img.search-mark-pc').click(function(){
                $('.search-act-pc').submit();
            })
        </script>
        </div>
        {% endif %}

        
    <div class="map-container">
        <div id="map" class="map">
            <div class="seeall" onmouseover="hover(0,0);" onmouseout="hover(1,0);"><a href="{%url 'realmap'%}" id='all'>ALL</a></div>
            <div class="seetheme" onmouseover="hover(0,1);" onmouseout="hover(1,1);"><a onclick="current();" href="#" id='loc'>현위치</a></div>
        </div>
        <script>
            function hover(mouse,div){
                if (div==0){
                    div_a = document.getElementById('all');
                    color1='#569377'
                }
                else{
                    div_a = document.getElementById('loc');
                    color1='#E29B78'
                }
                if (mouse==0){
                    div_a.style.color=color1;
                }
                else{
                    div_a.style.color='white';
                }
            }
        </script>
        <div id="list" class="list">
        <table class="table">
            <thead>
                <tr>
                <th class="table-sname">이름</th>
                <th>주소</th>
                <th class="table-seemore">자세한 정보</th>
                <!-- style="white-space:nowrap;" -->
                </tr>
            </thead>
            <tbody>
                {% for store in bs.all %}
                <tr onclick="list_click('{{store.addr}}');" class="line-content">
                    <td class="table-sname">{{store.name}}</td>
                    <td class="table-addr">{{store.addr}}</td>
                    <td class="table-seemore"><a class="sub-btn" href="{%url 'storedetail' store.bookstore_id%}">더보기</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="source">©퍼니플랜(Funnyplan) <a href="http://www.bookshopmap.com" style="color: black;">www.bookshopmap.com</a></div>


    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2da39c20f0c16cddf9d044b0011770fe&libraries=services,clusterer"></script>
    <script type="text/javascript">
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(35.7115, 127.7564), //대강 전국 중심,
            level: 13 // 지도의 확대 레벨 - 숫자 클수록 축소, 작을수록 확대, 지금은 자동 설정됨
        };
    var map = new kakao.maps.Map(mapContainer, mapOption); //지도 생성
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    var geocoder = new kakao.maps.services.Geocoder();
    let addrArr = {{ bsaddr | safe }};
    let nameArr = {{ bsname | safe }};
    let pkArr = {{ pklist | safe }};
    var selectedifw=null;
    var selectedmk=null;
    let bounds = new kakao.maps.LatLngBounds();
    var clusterer = new kakao.maps.MarkerClusterer({
        map: map,
        averageCenter: true,
        minLevel: 8
    });
    var styles = [{
        width : '33px', height : '32px',
        background: 'rgb(254,234,168)',
        color: '#fff',
        textAlign: 'center',
        lineHeight: '34px',  
        borderRadius: '50px',
        fontSize: '20px',
        border: '2px dotted white'
    },{
        width : '53px', height : '52px',
        background: 'rgb(254,215,86)',
        color: '#fff',
        textAlign: 'center',
        lineHeight: '54px',
        borderRadius: '50px',
        fontSize: '20px',
        border: '2px dotted white'
    }, {
        width : '73px', height : '72px',
        background: 'rgb(254,197,14)',
        color: '#fff',
        textAlign: 'center',
        lineHeight: '74px',  
        borderRadius: '50px',
        fontSize: '20px',
        border: '2px dotted white'
    },
];

    clusterer.setStyles(styles);
    //내위치 받아와서 이미지마커로 표시하기
    var imageSrc = 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FOTq9H%2FbtqBubzCAFj%2F7KjqV2AhC4kWrKNnul7Q91%2Fimg.png', // 마커이미지의 주소입니다    
        imageSize = new kakao.maps.Size(70, 70); // 마커이미지의 크기입니다
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
    function current(){
        if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(function(position){
                let lat=position.coords.latitude;
                let lon=position.coords.longitude;
                var locPosition=new kakao.maps.LatLng(lat,lon);
                let cur_marker = new kakao.maps.Marker({
                        map: map,
                        position: locPosition,
                        clickable: false,
                        title: '현재위치',
                        image: markerImage
                });
                if (selectedmk){
                    selectedmk.setMap(null);
                }
                selectedmk=cur_marker;
                map.setCenter(locPosition);
                map.setLevel(5,{animate: true});
            },error);
        };
    }
    function error(e){
        alert("현재 위치를 받아올 수 없습니다.")
    }
    function addrStoN(address,title,i){ //주소를 위도경도로 변환후 마킹
        geocoder.addressSearch(address,function(result, status){
            if (status === kakao.maps.services.Status.OK){
                let coords = new kakao.maps.LatLng(result[0].y,result[0].x);
                let marker = new kakao.maps.Marker({
                    map: map,
                    position: coords,
                    clickable: true,
                    title: title
                });
                bounds.extend(coords);
                clusterer.addMarker(marker);
                let det_url='"{%url "storedetail" 123%}"'.replace('123',i);
                let content = '<div id="content" class="smallinfo">' + 
                        '<div class=title>' +
                        title + '</div>' +  
                        address + '<br>'+
                        '<a href='+det_url+' class="det-btn">더보기</a>'
                        '</div>';
                let ifw = new kakao.maps.InfoWindow({
                    content: content,
                    removable: false
                });

                kakao.maps.event.addListener(marker, 'click', function(){
                    if (!selectedifw || selectedifw !== ifw){
                        ifw.open(map,marker);
                    }
                    if (selectedifw){
                        selectedifw.close();
                    }
                    selectedifw=ifw;
                    
                });
            };
        });
    }
    for(let i=0; i< addrArr.length;i++){
        addrStoN(addrArr[i],nameArr[i],pkArr[i]);
    };
    setTimeout(function(){
        if (bounds.isEmpty()){
            let b1=new kakao.maps.LatLng(33.2227, 126.1797);
            let b2=new kakao.maps.LatLng(38.2003, 129.3331);
            bounds.extend(b1);
            bounds.extend(b2);
        }
        map.setBounds(bounds);
    },1000)
    
    function list_click(addr){
        map.setMinLevel(4);
        geocoder.addressSearch(addr,function(result, status){
            if (status === kakao.maps.services.Status.OK){
                let coords = new kakao.maps.LatLng(result[0].y,result[0].x);
                let b = new kakao.maps.LatLngBounds();
                b.extend(coords);
                map.setBounds(b);
            };
        });
    }
    </script>
    <br>
    </div>
    </body>

    {% endblock %}
</html>