<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/storedetail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- 카톡공유 -->
    <script type='text/javascript' src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <!-- 지도 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2da39c20f0c16cddf9d044b0011770fe&libraries=services"></script>
    <!-- 스크랩 AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

    <div class="storename">
        <span id='name'>{{store.name}}</span>
       <!--{% if request.PC %}
            <div class="introduce"><i class="fas fa-quote-left"></i>
                <span>보스 없애니까 소갯말도 없으므로 일단 양식만 남겨둠</span>
                <i class="fas fa-quote-right"></i>
            </div>
        {% endif %}-->
    </div>
    
    <div class="like">
        <i onclick="like();" id='like' class="{%if scrap %}fas fa-heart{%else%}far fa-heart{%endif%}" style='color:#E29B78;'></i>
        <span id="like-count">{{store.like_count}}</span>
    <br></div>

    <script type="text/javascript">
    //스크랩 AJAX 관련
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    function like() {
        {% if request.user.is_active %}
        $.ajax({
            url: "{% url 'scrap' store.bookstore_id%}",
            type: "post",
        }).done(function (data) {
            if($("#like").hasClass("fas")) {
                $("#like").removeClass("fas");
                $("#like").addClass("far");
            } else {
                $("#like").removeClass("far");
                $("#like").addClass("fas");
            }
            document.getElementById('like-count').innerHTML = data;
        });
        {% else %}
        alert("로그인 된 사용자만 사용할 수 있습니다.");
        {% endif %}
    }
    </script>
    

<div class="contents">  
    <table>
        {% if store.phone_number != 'nan' %}
        <tr>
            <td class="icon"><i class="fas fa-mobile-alt"></i></td>
            <td class="colname">연락처</td>
            <td class="data">{{store.phone_number}}</td>
        </tr>
        {% endif %}

        {% if store.site != 'nan' %}
        <tr>
            <td class="icon"><i class="fas fa-globe-asia"></i></td>
            <td class="colname">홈페이지</td>
            <td class="data">
            {% if 'http' in store.site %}
                <a href="{{store.site}}"><i class="fas fa-external-link-alt"></i></a>
            {% else %}
                <a href="http://{{store.site}}"><i class="fas fa-external-link-alt"></i></a>
            {% endif %}</td>
        </tr>
        {% endif %}

        {% if store.openhour != 'nan' %}
        <tr>
            <td class="icon"><i class="fas fa-clock"></i></td>
            <td class="colname">영업시간</td>
            <td class="data">{{store.openhour|linebreaksbr}}</td>
        </tr>
        {% endif %}

        <tr>
            <td class="icon"><i class="fas fa-map-marker-alt"></i> </td>
            <td class="colname">주소</td>
            <td class="data"><span id='addr'>{{store.addr}}</span></td>
        </tr>

        {% if store.insta != 'nan' %}
        <tr>
            <td class="icon"><i class="fab fa-instagram"></i></td>
            <td class="colname">인스타그램</td>
            <td><a href="https://www.instagram.com/{{store.insta}}">
            <i class="fas fa-external-link-alt"></i></a></td>
        </tr>
        {% endif %}
        
        {% if store.email != 'nan' %}
        <tr>
            <td class="icon"><i class="fas fa-envelope"></i></td>
            <td class="colname">이메일</td>
            <td class="data">{{store.email}}</td>
        </tr>
        {% endif %}

        <tr>
            <td class="icon"><i class="fas fa-tags"></i></td>
            <td class="colname">태그목록</td>
            <td class="data">{%for t in store.tag_set.all%} <a href="{% url 'tag_search' t.id %}">#{{t}}</a> {% endfor %}</td>
        </tr>
    </table>

    {% if user.is_authenticated and thema %}
        <div class="themabtn-box">
            <a href="javascript:Open_add();" class="add-btn">내 테마에 추가하기</a>
            <a href="javascript:Open_del();" class="delete-btn">내 테마에서 삭제하기</a>
        </div>

        <div id='thema_list' style="display: none;"> <!--클릭 시 보임-->
            <div class="nowthema">[현재 속한 테마]</div>
                {% for t in s_thema %}
                    <li>{{t.title}}</li>
                {% empty %}
                    <li>없음</li>
                {% endfor %}
            <hr>    
            <div class="selectthema">[테마 선택]</div>
            <form method="POST" id='thema_form'>
                {% csrf_token %}
                <!--일단 여기서는 중복선택 안되게함-->
                <select id='add' name='thema'>
                    {% for t in thema %} <!--테마에 추가할때 (없는 태그들만 띄워줌)-->
                        {% if t not in store.thema_set.all %}
                        <option value='{{t.id}}'>{{t.title}}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <select id='del' name='thema'>
                    {% for t in thema %} <!--테마에서 삭제할때 (기존에 설정된 태그들만 띄워줌)-->
                        {% if t in store.thema_set.all %}
                        <option value='{{t.id}}'>{{t.title}}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <input type="submit" id='submit' class="sub-btn"/>
            </form>
            <div id="close-btn">
            <a href="javascript:Close();" class="close-btn greenhover">닫기</a>
            </div><hr>
        </div>

        <script type="text/javascript">
            function Open_add(){
                document.getElementById("thema_list").style.display='inline'
                document.getElementById('submit').setAttribute('value',"추가")
                document.getElementById('submit').disabled=false;
                document.getElementById('thema_form').setAttribute('action',"{%url 'store_thema' store.bookstore_id 0%}")
                document.getElementById('del').style.display='none'
                document.getElementById('add').style.display='inline'
                document.getElementById("del").disabled=true;
                document.getElementById("add").disabled=false;

                {% if s_thema.count == thema.count %}
                document.getElementById('submit').disabled=true;
                {% endif %}
                }
            function Open_del(){
                document.getElementById("thema_list").style.display='inline'
                document.getElementById('submit').setAttribute('value',"삭제")
                document.getElementById('submit').disabled=false;
                document.getElementById('thema_form').setAttribute('action',"{%url 'store_thema' store.bookstore_id 1%}")
                document.getElementById('add').style.display='none'
                document.getElementById('del').style.display='inline'
                document.getElementById("add").disabled=true;
                document.getElementById("del").disabled=false;

                {% if not s_thema %}
                document.getElementById('submit').disabled=true;
                {% endif %}
            }
            function Close(){
                document.getElementById("thema_list").style.display='none'
                }
        </script>
    {% endif %}
    <div id="box">
    <a id="kakao-link-btn" href="javascript:sendLink();" class="share-kakao"> 카카오톡으로 공유하기
        <img src="{% static 'images/talk.png' %}"/>
    </a>
    </div>
    <script type='text/javascript'>
        //카톡공유
        let name='{{store.name}}';
        let addr='{{store.addr}}'
        let logo='https://s3.ap-northeast-2.amazonaws.com/bookstore.img/logo_sero.jpg';
        {% if store.img != 'nan' %}
            logo='{{store.img}}';
        {% endif %}
        
        Kakao.init('2da39c20f0c16cddf9d044b0011770fe');
        function sendLink(){
            Kakao.Link.sendDefault({
                objectType: 'location',
                address: addr,
                addressTitle: name,
                content: {
                    title: '책 보러 가자!',
                    description: name+', 여긴 어때?',
                    imageUrl: logo,
                    link: {
                        mobileWebUrl: document.location.href,
                        webUrl: document.location.href
                    }
                },
                buttons: [
                    {
                        title: '보러가기',
                        link: {
                            mobileWebUrl: document.location.href,
                            webUrl: document.location.href
                        }
                    },
                ]
            });
        }
    </script>
    

    <details>
        <summary>단골리스트</summary>
        <div>
            <span>1위 </span>
            {% if first.name != '없음' %}
                <span>닉네임: {{first.name}}</span>
                <span>갯수: {{first.count}}개</span>
            {% else %}
                <span>없음</span>
            {% endif %}
        </div>
        <div>
            <span>2위 </span>
            {% if second.name != '없음' %}
                <span>닉네임: {{second.name}}</span>
                <span>갯수: {{second.count}}개</span>
            {% else %}
                <span>없음</span>
            {% endif %}
        </div>
        <div>
            <span>3위 </span>
            {% if third.name != '없음' %}
                <span>닉네임: {{third.name}}</span>
                <span>갯수: {{third.count}}개</span>
            {% else %}
                <span>없음</span>
            {% endif %}
        </div>
    </details>

    
    <br>
    <!--해당서점 지도 표시-->
    <div id="map">
        {% if user.is_authenticated %}
        <div><a class="greenhover stamp" href="javascript:get_stamp();">도장<br>찍기</a></div>
        {% endif %}
    </div>
    <script type="text/javascript">
        window.onload=function(){
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(37.5527509,126.9648429), //센터는 서울시청
                level: 4, // 지도의 확대 레벨 - 숫자 클수록 축소, 작을수록 확대
                //draggable: false
            };
            var map = new kakao.maps.Map(mapContainer, mapOption); 
            var geocoder = new kakao.maps.services.Geocoder();
            map.setZoomable(true);
            let addr = document.getElementById('addr').innerHTML;
            let name = document.getElementById('name').innerHTML;
        
            function addrStoN(address,title){ //주소를 위도경도로 변환후 마킹
                geocoder.addressSearch(address,function(result, status){
                    if (status === kakao.maps.services.Status.OK){
                        let coords = new kakao.maps.LatLng(result[0].y,result[0].x);
                        let marker = new kakao.maps.Marker({
                            map: map,
                            position: coords,
                            clickable: false,
                            title: title
                        });
                        map.setCenter(coords);
                    };
                });
            }
            addrStoN(addr,name);
    
        }
        function get_stamp(){   //도장찍기
            if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition(function(position){
                    let lat=position.coords.latitude;
                    let lon=position.coords.longitude;
                    let loc1=new kakao.maps.LatLng(lat-0.0005,lon-0.0005);
                    let loc2=new kakao.maps.LatLng(lat+0.0005,lon+0.0005);
                    let stamp_bounds = new kakao.maps.LatLngBounds(loc1, loc2);
                    let geocoder = new kakao.maps.services.Geocoder();
                    let addr = document.getElementById('addr').innerHTML;
                    geocoder.addressSearch(addr,function(result, status){
                        if (status === kakao.maps.services.Status.OK){
                            let coords = new kakao.maps.LatLng(result[0].y,result[0].x);
                            if (stamp_bounds.contain(coords)){
                                location.href="{%url 'stamp' store.bookstore_id %}";
                            }
                            else{
                                alert("책방 근처에서 적립 가능합니다.");
                            }
                        };
    
                    });
                });
            }
        };
    </script>

    <br>
    <div class="img-container">
    {% if store.img != 'nan' %}
        <img src='{{store.img}}' class="storeimg">
    {% endif %}
    </div>
    <br>

    <!-- 리뷰 -->
    <div class="review-container">
    <div class="review">REVIEW | 
            <i class="fas fa-star" id="rev-star"></i> {{star_avg}}
    </div>
    
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'reviewcreate' store.bookstore_id %}" style="display: block;">
        {% csrf_token %}
        <div class="radio_star" id="star">
            <input type="radio" name="star" id="shipadd1" value="1" checked/>
            <label for="shipadd1"><i class="fas fa-star"></i></label>
            <input type="radio" name="star" id="shipadd2" value="2" />
            <label for="shipadd2"><i class="fas fa-star"></i></label>
            <input type="radio" name="star" id="shipadd3" value="3" />
            <label for="shipadd3"><i class="fas fa-star"></i></label>
            <input type="radio" name="star" id="shipadd4" value="4" />
            <label for="shipadd4"><i class="fas fa-star"></i></label>
            <input type="radio" name="star" id="shipadd5" value="5" />
            <label for="shipadd5"><i class="fas fa-star"></i></label>
        </div>

        <script>
            $('#star i').click(function(){
                $('#star').children('label').children('i').removeClass('on');
                $(this).addClass('on').parent().prevAll('label').children('i').addClass('on');
                $(this).parent().click();
                return false;
            })
        </script>

        <div class="rev_write">
        {{form.as_table}}
        <button type='submit' class="button greenhover" id="send">등록</button>
        </div>
    </form> 
    {% endif %}
    <hr>

    
    {% for review in reviews %}
    <div class="user_review">
        <div class="uname">{{review.user.profile.nickname}} |</div>
        <div class="ustar">
        <i class="fas fa-star" style="color: rgb(254,215,86); font-size: 25px;"></i>
        {{ review.star }}</div>
        <div class="ucontent">{{ review.content }}</div>
        
        {% if user.is_authenticated %}
        {% if review.user == user %}
        <a href="{% url 'reviewdelete' review.id %}" class="greenhover delete">삭제</a>
        {% else %}
        <a href="{% url 'chat-temp' review.user.id %}" class="send-btn greenhover">쪽지보내기</a>
    </div>
        {% endif %} 
        {% endif %}
        <hr>
    {% endfor %}
</div>        
    <div class="review_hs">
        {% for review in rev %}
        <div class="cr_review_ct">
            <a href={{review.link}}>
                <p>{{review.bloggername}} | {{review.postdate}}</p>
                <h3>{{review.title}}</h3>
                <h4>{{review.description}}...</h4>
            </a>
        </div>
        <hr>
        {%endfor%}
    </div>
</div>

<script type="text/javascript">
    document.querySelector('#id_content').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#send').click();
            }
        };
</script>


</body>
{% endblock %}
</html>
