<html>
{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/themadetail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2da39c20f0c16cddf9d044b0011770fe&libraries=services"></script>
</head>

<body>
    <div class="description">
        <h1>{{thema.title}}
        <div class="like">
            <i onclick="thema_like();" id='like' class="{%if check_like %}fas fa-heart{%else%}far fa-heart{%endif%}" style='color:#E29B78;'></i>
            <span id="like-count">{{thema.total_like}}</span>
        </div>
        </h1>
        {% if thema.user.profile.profileimg %}
            <img src="{{thema.user.profile.profileimg.url}}" alt="" class="myprofile_img">
        {% else %}
            <img src="{% static 'images/basic-profile-img.png' %}" class="myprofile_img">
        {% endif %}
        <span class="writer">{{thema.user.profile.nickname}}</span>
        {% if request.user.is_active %}
        {% if thema.user != request.user %}
        <a href="{% url 'chat-temp' thema.user.id %}" class="send-btn">쪽지보내기</a>
        {% endif %}{% endif %}
        <hr>

        {% if thema.img %}
            <img src="{{thema.img.url}}" alt="" class="thema-img">
        {% endif %}      
        <h4>{{thema.description|linebreaks}}</h4>
    </div> 


<div id="map" class="map" style="width:90%;height:700px;z-index: 0; margin: 0px auto;">
    <div class="loc"><a onclick="current();">현위치</a></div>
</div>

<table class="table">
    <thead>
        <tr>
        <th class="table-sname">책방이름</th>
        <th>주소</th>
        <th class="table-seemore">자세한 정보</th>
        </tr>
    </thead>
    <tbody>
        {% for store in stores %}
        <tr onclick="list_click('{{store.addr}}');" class="line-content">
            <td class="table-sname">{{store.name}}</td>
            <td>{{store.addr}}</td>
            <td class="table-seemore"><a class="sub-btn" href="{%url 'storedetail' store.bookstore_id%}">더보기</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="btn-container">
    {% if edit %}
        <a href="{% url 'thema_change' thema.id %}" class="update">수정</a>
        <a href="{% url 'thema_delete' thema.id %}" class="delete" onclick="return confirm('정말로 삭제하시겠습니까?')">삭제</a>
    {% endif %}
    <a href="{% url 'themamap' %}" class="seelist">목록보기</a>
</div>

</body>


<script type="text/javascript">
//좋아요 AJAX 관련
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
function thema_like() {
    {% if request.user.is_active %}
    $.ajax({
        url: "{% url 'thema_like' thema.id%}",
        type: "post",
    }).done(function (data) {
        if($("#like").hasClass("fas")) {
            $("#like").removeClass("fas");
            $("#like").addClass("far");
        } else {
            $("#like").removeClass("far");
            $("#like").addClass("fas");
        }
        document.getElementById('like-count').innerHTML = data;
    });
    {% else %}
    alert("로그인 된 사용자만 사용할 수 있습니다.");
    {% endif %}
}

//지도 관련
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(37.5527509,126.9648429), //센터는 서울시청
        level: 8 // 지도의 확대 레벨 - 숫자 클수록 축소, 작을수록 확대
    };  

var map = new kakao.maps.Map(mapContainer, mapOption); 
var zoomControl = new kakao.maps.ZoomControl();
map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
var geocoder = new kakao.maps.services.Geocoder();
let addrArr = {{ bsaddr | safe }};
let nameArr = {{ bsname | safe }};
let pkArr = {{ pklist | safe }};
var selectedifw=null;
var selectedmk=null;
let bounds = new kakao.maps.LatLngBounds();
//내위치 받아와서 이미지마커로 표시하기
var imageSrc = 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FOTq9H%2FbtqBubzCAFj%2F7KjqV2AhC4kWrKNnul7Q91%2Fimg.png', // 마커이미지의 주소입니다    
imageSize = new kakao.maps.Size(70, 70); // 마커이미지의 크기입니다
var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
function current(){
    if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(function(position){
            let lat=position.coords.latitude;
            let lon=position.coords.longitude;
            var locPosition=new kakao.maps.LatLng(lat,lon);
            let cur_marker = new kakao.maps.Marker({
                    map: map,
                    position: locPosition,
                    clickable: false,
                    title: '현재위치',
                    image: markerImage
            });
            if (selectedmk){
                selectedmk.setMap(null);
            }
            selectedmk=cur_marker;
            map.setCenter(locPosition);
            map.setLevel(5,{animate: true});
        },error);
    };
}
function error(e){
    alert("현재 위치를 받아올 수 없습니다.")
}
function addrStoN(address,title,i){ //주소를 위도경도로 변환후 마킹
    geocoder.addressSearch(address,function(result, status){
        if (status === kakao.maps.services.Status.OK){
            let coords = new kakao.maps.LatLng(result[0].y,result[0].x);
            let marker = new kakao.maps.Marker({
                map: map,
                position: coords,
                clickable: true,
                title: title
            });
            bounds.extend(coords);
            map.setBounds(bounds);
            let address_short = address.substr(0,20)
            let det_url='"{%url "storedetail" 123%}"'.replace('123',i);
            let content = '<div id="content" class="smallinfo">' + 
                    '<div class=title>' +
                    title + '</div>' +  
                    address_short + '<br>'+
                    '<a href='+det_url+' class="det-btn">더보기</a>'
                    '</div>';
            let ifw = new kakao.maps.InfoWindow({
                content: content,
                removable: false
            });

            kakao.maps.event.addListener(marker, 'click', function(){
                if (!selectedifw || selectedifw !== ifw){
                    ifw.open(map,marker);
                }
                if (selectedifw){
                    selectedifw.close();
                }
                selectedifw=ifw;
                
            });
        };
    });
    //title.style.fontSize = "40px";
}
function list_click(addr){
    map.setMinLevel(4);
    geocoder.addressSearch(addr,function(result, status){
        if (status === kakao.maps.services.Status.OK){
            let coords = new kakao.maps.LatLng(result[0].y,result[0].x);
            let b = new kakao.maps.LatLngBounds();
            b.extend(coords);
            map.setBounds(b);
        };
    });
}

for(let i=0; i<addrArr.length;i++){
    addrStoN(addrArr[i],nameArr[i],pkArr[i]);
};  
</script>
</html>
{% endblock %}