{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% if user.is_authenticated %}
    <a href="{% url 'themamap' %}">공개 테마</a>
    <a href="{% url 'my_thema' %}">나의 테마</a>
    <a href="{% url 'thema_add' %}">테마 추가하기</a>
{% endif %}
<br>
{% for i in thema %}

{% if i.img %}
<img src='{{i.img.url}}'>
{% endif %}

<a href="{% url 'themadetail' i.id %}">{{i.title}}</a>
{%if request.user in i.like.all %}
<i class="fa fa-heart" style='color:#E29B78;'></i>
{%else%}
<i class="fa fa-heart-o" style='color:#E29B78;'></i>
{%endif%}
<span>{{i.total_like}}개</span>
<span>만든이: {{i.user.profile.nickname}}</span><br>

{% endfor %}

</body>
{% endblock %}