<!DOCTYPE html>
<html style="width: 100%;">
{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/themamap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>

<body>
<div class="btn-box">
{% if user.is_authenticated %}
    <a href="{% url 'themamap' %}" class="publicthema-btn">공개테마 보기</a>
    <a href="{% url 'my_thema' %}" class="mythema-btn">나의테마 보기</a>
    <a href="{% url 'thema_add' %}" class="addthema-btn">테마 추가하기</a>
{% else %}
    <br>
{% endif %}
</div>


<div class="allthema-box">
{% for i in thema %}
    <div class="eachthema">
        <div class="profile" style="height: fit-content;">
        {% if i.user.profile.profileimg %}
            <img src="{{i.user.profile.profileimg.url}}" alt="" class="myprofile_img">
        {% else %}
            <img src="{% static 'images/basic-profile-img.png' %}" class="myprofile_img">
        {% endif %}
        <span class="writer">{{i.user.profile.nickname}}</span>
    
        <div class="like">
        {% if request.user in i.like.all %}
        <i class="fas fa-heart" style='color:#E29B78;'></i>
        {% else %}
        <i class="far fa-heart" style='color:#E29B78;'></i>
        {% endif %}
        <span class="count">{{i.total_like}}</span>
        <br></div>
        </div>

    
        <div class="themaimg-box">
            <a href="{% url 'themadetail' i.id %}" class="title">
                {% if i.img %}
                <img src='{{i.img.url}}' class="themaimg"> 
                {% else %}
                <img src="{% static 'images/textlogo.jpg' %}" alt="" class="themaimg">
                {% endif %}
            </a>
                <div class="title2">{{i.title}}</div>
        </div>

    </div>
        
    {% endfor %}
</div>
</body>
{% endblock %}

</html>