<!DOCTYPE html>
<html style="width: 100%;">
{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <!-- <script src="{% static 'js/home.js' %}" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  -->
</head>

<body>
<div class="bg">

    <img src="{% static 'images/logo.jpg' %}" style="width: 80%; margin: 300px 100px;">

    <div class="tag-store">
        {% for s in stores %}
            <a class="sub-btn" href="{%url 'storedetail' s.bookstore_id%}">{{s.name}}</a><br>
        {% endfor %}
    </div>
    {%else%}
    <div>로그인 안했을 때 </div>
    {% endif %}
</div>



<!--
    <div class="contents">
		<div class="banner">
			<ul>
				<li><div class="slideimg-box"><img class="slideimg4"></div></li>
				<li><div class="slideimg-box"><img class="slideimg5"></div></li>
                <li><div class="slideimg-box"><img class="slideimg6"></div></li>     
			</ul>
		</div>
	</div>

    <div class="main-ment">
        <p>
        우리 동네<br>
        책방은 어디에<br>
        숨어 있을까
        </p>
    </div>

    <div class="main-btn">
        <a href="{%url 'realmap' %}">추천책방 보러가기</a>
    </div>

-->
</body>


{% endblock %}
</html>
