<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% load socialaccount %}
    {% providers_media_js %}
    {% load staticfiles %}
    {% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <form action="{% url 'login' %}" method='POST'>
        {% csrf_token %}
        <div class="loginbox">
            <div class="login-content">
                <input name="username" type="text" id="inp" placeholder="ID">
                <br>
                <input name="password" type="password" id="inp" placeholder="PASSWORD">
                <br>
                <button type="submit" class='login-btn'>LOGIN</button>
                </form>
                <br>
                <a href="{% provider_login_url 'kakao' %}">
                <img src="{% static 'images/kakao_account_login_btn_large_narrow.png' %}" class="kakao">
                </a>
                <div class="gotosignup">
                아직 회원이 아니신가요? <a href="{% url 'signup' %}"><u>회원가입</u></a> 하기
                </div>
            </div>
        </div>

        
    </body>

    {% endblock %}
</html>



<!-- 
<li><img src="{% static 'images/bookstore4-pc.png' %}" class="slideimg-pc"></li>
<li><img src="{% static 'images/bookstore5-pc.png' %}" class="slideimg-pc"></li>
<li><img src="{% static 'images/bookstore6-pc.png' %}" class="slideimg-pc"></li>
-->