{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>
<div class='mypage-body'>
    <div class="title_mypage">
    <div class="square"></div>
    <h1 class="ment">프로필 편집</h1>
    <p class="ment" style="font-family: 'BBTreeGL';font-size:20px;">비밀번호는 변경을 원할 시에만 입력하세요.</p>
</div>
<div class="editprofile">
    <div class="row">
        <div class="col-3">
            {% if profile.profileimg %}
                <img src="{{profile.profileimg.url}}" alt="" id="img_show" class='mypage-prof-img' onclick="img_click();">
            {% else %}
                <img src="{% static 'images/basic-profile-img.png' %}" id="img_show" class='mypage-prof-img' onclick="img_click();">
            {% endif %}
        </div>
        <div class="col infobody">
            <form method="POST" action="{% url 'user_change' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class='mypage-profile-info'>&nbsp;&nbsp;닉네임&nbsp;
                    <input class='mypage-profile-input' type='text' value='{{profile.nickname}}' name='nickname'/>
                </div>
                <div class='mypage-profile-info'>&nbsp;&nbsp;이메일&nbsp;
                    <input class='mypage-profile-input' type='text' value='{{profile.email}}' readonly/>
                </div>
                <div class='mypage-profile-info'>
                    <input class='mypage-profile-input pwd' type='password' name='password1' placeholder=' 비밀번호 변경' {%if kakao %}readonly{% endif %}/>
                </div>
                <div class='mypage-profile-info'>
                    <input class='mypage-profile-input pwd' type='password' name='password2' placeholder=' 비밀번호 확인' {%if kakao %}readonly{% endif %}/>
                </div>
                <input type="file" name="img_file" id="img_file" style="display:none" accept=".jpg,.jpeg,.png,.gif"/>
                <input type='submit' class='mypage-submit-btn' value='SAVE'/>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function img_click(){
        document.getElementById("img_file").click();
    };
    function readURL(input){
        if (input.files && input.files[0]){
            let reader = new FileReader();
            reader.onload = function (e) {
                $('#img_show').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $('#img_file').change(function(){
        readURL(this);
        alert("프로필 사진 등록을 마치려면 SAVE 버튼을 눌러 저장하세요.");
    });
</script>
<div class="title_mypage">
    <div class="square"></div>
    <h1 class="ment">나의 스탬프</h1>
    <p class="ment" style="font-family: 'BBTreeGL';font-size:20px;">스탬프는 책방 근처에 가서 적립하세요. 당신도 이달의 독서왕이 될 수 있어요!</p>
</div>
<div class="stampbody">
    <div class="row stamp_member">
        <div class="col-6 stampnum">
        스탬프 수<br> {{stamp}}  개
        </div>
        <div class="col-6 stamplevel">
            현재 level {{level}} 입니다.<br>
            {{more}}개 더 모으면 level {{next}}!!
        </div>
    </div>
</div>

<div class='mypage-tab'>
    <ul class="nav nav-justified nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item nav-item-bookmark">
        <a class="nav-link active" id="pills-bookmark-tab" data-toggle="pill" href="#pills-bookmark" role="tab" aria-controls="pills-bookmark" aria-selected="true">좋아하는 책방</a>
        </li>
        <li class="nav-item nav-item-mycomment">
            <a class="nav-link" id="pills-mycomment-tab" data-toggle="pill" href="#pills-mycomment" role="tab" aria-controls="pills-mycomment" aria-selected="false">좋아하는 테마</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="scraplist tab-pane fade show active" id="pills-bookmark" role="tabpanel" aria-labelledby="pills-bookmark-tab">
            {% for scrap in scraps %}
            <span style="color:#E29B78;margin-left:50px;"><i class="fas fa-heart"></i></span> &nbsp;
            <a href="javascript:detail('{{scrap.store.bookstore_id}}',0);">{{scrap.store}}</a><br>
            {% endfor %}
        </div>
        <!--내가쓴 댓글 있던자리 (좋아요 누른 테마로 변경)-->
        <div class="scraplist tab-pane fade" id="pills-mycomment" role="tabpanel" aria-labelledby="pills-mycomment-tab">
            {%for thema in user.like.all%}
            {% if thema.private == False %}
            <span style="color:#E29B78;margin-left:50px;"><i class="fas fa-heart"></i></span> &nbsp;
            <a href="javascript:detail('{{thema.id}}',1);">{{thema.title}}</a><br>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function detail(id,tf){
        let url="https://dnbook.live/bookmap/themadetail/";
        if (tf === 0){
            url="https://dnbook.live/bookmap/store/";
        }
        let result=url.concat(id);
        location.href=result;
    }
</script>
</div>
<div class="quitwrapper">
    <button onclick="del_user();" class="quitbtn">탈퇴하기</button>
    <script type="text/javascript">
        function del_user(){
            let tf = confirm("정말로 탈퇴하시겠습니까?");
            if (tf === true){
                location.href="{%url 'del_user' %}";
                alert("성공적으로 탈퇴되었습니다.");
            };
        };
    </script>
</div>
{% endblock %}