{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mytag.css' %}">
</head>
<body>
<div class="tag-container">
    <form method="POST" action="{% url 'tag_change' %}" enctype="multipart/form-data" name='tag_form'>
        {% csrf_token %}
        <table>
        <tr>
            <td>
                <h1>나의 태그</h1><br>
                <div id='mytags' class="tag-box">
                {% for i in mytag %}
                <input type="checkbox" id='{{i.id}}' name='mytag' value='{{i.title}}' style="display: none;">
                <label for="{{i.id}}" class="check-box"></label>
                <label for="{{i.id}}" id='{{i.title}}'>{{i.title}}</label>
                <i class="fas fa-external-link-alt" onclick="new_open('{{i.id}}');"></i>
                <br>
                {% endfor %}
                </div>
            </td>
            <td style="padding-top: 40px;">
                &nbsp;<i onclick="right();" class="fas fa-angle-double-right"></i>&nbsp;<br>
                &nbsp;<i onclick="left();" class="fas fa-angle-double-left"></i>&nbsp;
            </td>
            <td>
                <h1>나머지 태그</h1><br>
                <div id='alltags' class="tag-box">
                    {% for i in alltag %}
                    <input type="checkbox" id='{{i.id}}' name='alltag' value='{{i.title}}' style="display: none;">
                    <label for="{{i.id}}" class="check-box"></label>
                    <label for="{{i.id}}" id='{{i.title}}'>{{i.title}}</label>
                    <i class="fas fa-external-link-alt" onclick="new_open('{{i.id}}');"></i>
                    <br>
                    {% endfor %}
                </div>    
            </td>
        </tr>
        </table>
        <br>
        <a href="javascript:submit();" class="save-btn">저장</a>
        <input type="submit" id='submit' style="display: none;">
    </form>
</div>

<script>
    function new_open(id){
        window.open("https://dnbook.live/bookmap/tag_search/"+id);
    }
    function right(){
        let mytag_box = document.getElementsByName('mytag');
        let alldiv=document.getElementById('alltags');
        let mydiv=document.getElementById('mytags');
        let chkArr=new Array();
        let lbArr=new Array();
        let brArr=new Array();
        let boxArr=new Array();
        let iArr=new Array();
        mytag_box.forEach(function(element, idx){
            if (element.checked){
                br=mydiv.getElementsByTagName('br');
                i=mydiv.getElementsByTagName('i');
                box=mydiv.getElementsByClassName('check-box');
                myval=element.value;
                myid=element.id;
                lb=document.getElementById(myval);
                chkArr.push(element);
                lbArr.push(lb);
                brArr.push(br[idx]);
                iArr.push(i[idx]);
                boxArr.push(box[idx]); //왼쪽목록(기존) 제거를 위해
                chk=document.createElement('input'); //체크박스 생성 및 속성 지정
                chk.type='checkbox';
                chk.name='alltag';
                chk.id=myid;
                chk.value=myval;
                chk.style.display='none';
                alldiv.appendChild(chk); //오른쪽목록에 추가
                boxlbl=document.createElement('label'); //체크박스라벨(폰트어썸)
                boxlbl.htmlFor=myid;
                boxlbl.className='check-box';
                boxlbl.innerHTML='&nbsp;'
                lbl=document.createElement('label'); //태그이름라벨
                lbl.htmlFor = myid;
                lbl.innerHTML=myval+'&nbsp;';
                lbl.id=myval;
                i2= document.createElement('i'); //태그검색
                i2.className='fas fa-external-link-alt'
                i2.onclick=function(){
                    new_open(myid);
                }                
                alldiv.appendChild(boxlbl);
                alldiv.appendChild(lbl);
                alldiv.appendChild(i2);
                alldiv.appendChild(document.createElement("br"));
            }
        });
        for (var i=0;i<chkArr.length;i++){
            chkArr[i].remove();
            lbArr[i].remove();
            brArr[i].remove();
            boxArr[i].remove();
            iArr[i].remove();
        }
    }
    function left(){
        let alltag_box = document.getElementsByName('alltag');
        let alldiv=document.getElementById('alltags');
        let mydiv=document.getElementById('mytags');
        let chkArr=new Array();
        let lbArr=new Array();
        let brArr=new Array();
        let boxArr=new Array();
        let iArr=new Array();
        alltag_box.forEach(function(element, idx){
            if (element.checked){
                br=alldiv.getElementsByTagName('br');
                i=alldiv.getElementsByTagName('i');
                box=alldiv.getElementsByClassName('check-box');
                allval=element.value;
                allid=element.id;
                lb=document.getElementById(allval);
                chkArr.push(element);
                lbArr.push(lb);
                brArr.push(br[idx]);
                iArr.push(i[idx]);
                boxArr.push(box[idx]); //오른쪽목록(기존) 제거를 위해
                chk=document.createElement('input'); //체크박스 생성 및 속성 지정
                chk.type='checkbox';
                chk.name='mytag';
                chk.id=allid;
                chk.value=allval;
                chk.style.display='none';
                mydiv.appendChild(chk); //왼쪽목록에 추가
                boxlbl=document.createElement('label'); //체크박스라벨(폰트어썸)
                boxlbl.htmlFor=allid;
                boxlbl.className='check-box';
                boxlbl.innerHTML='&nbsp;'
                lbl=document.createElement('label'); //태그이름라벨
                lbl.htmlFor = allid;
                lbl.innerHTML=allval+'&nbsp;';
                lbl.id=allval;
                i2= document.createElement('i'); //태그검색
                i2.className='fas fa-external-link-alt'
                i2.onclick=function(){
                    new_open(allid);
                }                
                mydiv.appendChild(boxlbl);
                mydiv.appendChild(lbl);
                mydiv.appendChild(i2);
                mydiv.appendChild(document.createElement("br"));
            }
        });
        for (var i=0;i<chkArr.length;i++){
            chkArr[i].remove();
            lbArr[i].remove();
            brArr[i].remove();
            boxArr[i].remove();
            iArr[i].remove();
        }
    }
    function submit(){
        let mytag_box = document.getElementsByName('mytag');
        mytag_box.forEach(function(element){
            element.setAttribute('checked','checked');
        });
        document.getElementById('submit').click();
    }
</script>
</body>
{% endblock %}