<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% block content %}
    {% load staticfiles %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    </head>    
    <body>


<form method="POST" action="{% url 'signup' %}" class="form">
{% csrf_token %}
    <div class="signup-box">
        <img src="{% static 'images/logo.jpg' %}" style="width: 16rem; margin-top: 3rem;">
        <div class="sign-content">
        <input name="username" type="text" id="inp" placeholder="아이디">
        <input name="password1" type="password" id="inp" placeholder="비밀번호">
        <input name="password2" type="password" id="inp" placeholder="비밀번호 확인">
        <input name="nickname" type="text" id="inp" placeholder="닉네임">
        <input name="email" type="email" id="inp" placeholder="이메일">    
        <input class="signup-btn" type="submit" value="회원가입">
        </div>
    </div>
</form>

</body>
{% endblock %}
</html>