<!--카카오 로그인 시 최초1회 프사 저장하는 페이지(아무것도 안뜸)-->
<!DOCTYPE html>
<html>
    {% load socialaccount %}
    {% providers_media_js %}
    <body>
        <form method="POST" action="{% url 'social' %}" class="form">
            {% csrf_token %}
            <input name='img_url' id="url" type="text" value="{{ user.socialaccount_set.all.first.get_avatar_url }}" style="display:none"/>
            <input type="submit" id='click' value="등록" style="display:none"/>
            <script type="text/javascript">
                document.getElementById("click").click();
            </script>
        </form>
    </body>
</html>