{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tag.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="tag-box">
        <img src="{% static 'images/logo.jpg' %}">
        <div class="choice-ment">
            내 취향에 맞는 태그를 선택해주세요
            <i class="fas fa-lightbulb"></i>
        </div>
        <div class="tag-container">
            <form method="POST" action="{% url 'pro_tag' %}">
            {% csrf_token %}
            {% for t in tag %}
            <div class="inner-container">
                <label>
                    <input name='tag' type="checkbox" value="{{t.title}}">
                    <span class="name-span"> #{{t.title}}
                       <span id='{{t.title}}'></span>
                    </span>
                </label>
            </div>
            {% endfor %}
        </div>
            <input type="submit" value="등록" class="signup-btn">
        </form>
    </div>
</body>

{% endblock %}
