<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<!-- 로딩중 임시페이지 -->
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    </head>
    <body>
    {% if request.user_agent.is_mobile %}
    <img src="{% static 'images/textlogo.jpg' %}" alt="" style="width: 77%; display:block; margin: 0 auto;">
    <div style="text-align: center; font-size:3rem; color:#E29B78"><i class="fas fa-spinner fa-spin fa-3x"></i></div>
    {% else %}
    <img src="{% static 'images/logo.jpg' %}" alt="" style="width: 43%; float:left; margin: 11% 11%;">
    <div style="text-align: left; font-size:2.7rem; color:#E29B78; margin-top: 13%;"><i class="fas fa-spinner fa-spin fa-3x"></i></div>
    {% endif %}
    
    {% if tf %}
    <!-- 카카오 로그인 시 최초1회 프사 저장 -->
    {% load socialaccount %}
    {% providers_media_js %}
        <form method="POST" action="{% url 'social' %}" class="form">
            {% csrf_token %}
            <input name='img_url' id="url" type="text" value="{{ user.socialaccount_set.all.first.get_avatar_url }}" style="display:none"/>
            <input type="submit" id='click' value="등록" style="display:none"/>
            <script type="text/javascript">
                document.getElementById("click").click();
            </script>
        </form>

    {% else %}
    <!-- 내위치 값 넘김 -->
    <form action="{% url 'non_log' %}" name='nonlog' method='POST'>
        {% csrf_token %}
        <input type="hidden" name='loc' id='input'>
    </form>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2da39c20f0c16cddf9d044b0011770fe&libraries=services"></script>
    <script type="text/javascript">
    var callback = function(result, status) {
        if (status === kakao.maps.services.Status.OK) {
            var addr=result[0].address.address_name;
            document.getElementById('input').setAttribute('value',addr);
            document.nonlog.submit();
        }
    };
    function error(e){
        document.getElementById('input').setAttribute('value','123');
        document.nonlog.submit();
    }
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position){
            let lat=position.coords.latitude;
            let lon=position.coords.longitude;
            var geocoder = new kakao.maps.services.Geocoder();
            geocoder.coord2Address(lon,lat,callback);
        },error)
    } else { error('e') }
    </script>
    {% endif %}
    </body>
    {% endblock %}
</html>